[2018-10-10 13:01] niconoe opened #1 "Add proper testing"
Use mock objects so our tests don't rely on an external API?

[2018-10-12 14:02] niconoe commented on #1
- [x] Basis of testing infrastructure (Pytest + requests-mock)
- [x] Testing of `get_access_token()`
- [ ] Testing of all other functions
- [ ] Set-up Travis-CI (make sure different versions are tested => also look at tox) ?

[2018-10-12 14:03] niconoe opened #2 "Create basic documentation @RTD"
- [x] Make the doc basics and make it build locally
- [x] Configure/publish on ReadTheDocs
- [x] Set up GitHub hooks for automatic buils (needs permission to do so)
- [x] Make an API page (set type annotations and try to use them with autodoc?)
- [x] Install page: show how to install master from GitHub
- [x] Add a "release page" with complete release instructions (for future me)

[2018-10-16 08:33] niconoe commented on #1
@peterdesmet: Could you (temporarily at least) configure me as owner/admin of this repo? I need this to configure Travis-CI for continuous integration! thx

[2018-10-16 09:32] peterdesmet commented on #1
Done!

[2018-10-16 11:13] peterdesmet opened #3 "Setup Travis CI"

[2018-10-16 11:49] niconoe commented on #3
Indeed, let's try on your side since my permissions doesn't seem sufficient. I think I'll be able to control the build process since I can write to `.travis.yml`.

[2018-10-17 08:54] damianooldoni commented on #3
Request limited to this repository of course.

[2018-11-03 10:45] niconoe commented on #3
Works perfectly, thanks!

[2018-11-03 10:45] #3 closed

[2018-11-03 10:45] #2 closed

[2018-11-03 10:50] niconoe opened #4 "Manage errors in update_observation"
Should we raise Exceptions or just le client code handle that? If the latter, it would be great to at least document what to expect from iNat. Quick check; it seems a bit inconsistent:
- Trying to update a nonexistent obs return error 500, with no more details.
- Trying to update the obs of a different user gives error 410 with details "cette observation n'existe plus".

[2018-11-03 11:09] niconoe opened #5 "How to manage errors"
For example, currently client code can receive something like {'error': 'Cette observation n’existe plus.'}. as a return value from update_observation()...

So the client code should look for an 'error' key in each of the results (and I'm not sure the API is really consistent in that). So it seems it would be more pythonic and nicer to raise an exception (a very specific if possible, or general on

[2018-11-05 08:21] niconoe commented on #5
Just updated update_observation() so it raises a `requests.HTTPError` if status != 200.

If this approach is choosen:

- [ ] Update all other functions so they work the same
- [ ] Test this
- [ ] Document this

[2018-11-07 16:41] peterdesmet commented on #5
Seems reasonable to provide as nice an error we can, given what the API consistently returns.

[2019-02-15 09:52] niconoe opened #6 "Add computer vision features"
After mail exchanges with an user of the library, it appear it would be nice to add access to the computer vision (species suggestion based on a picture) to pyinaturalist.

After having a look at the source code and what the webapp does, we discovered two undocumented endpoints in the Node API:

https://github.com/inaturalist/iNaturalistAPI/blob/5b3b6d4a588f5bf68259467fc37809f6aa2371ac/lib/inatura

[2019-05-17 19:19] j-h-m opened #7 "Help from an interested party (formal introduction)"
Hello! I am Jacob from the U.S. If you look at my profile you'll see that my colleague and I are working on some applications for collectors (mostly students and researchers). We were looking into consuming the iNaturalist API to add send our observations there as well as our other destination. I stumbled upon your project and I thought it might be a good idea to reach out and get an idea of what

[2019-05-22 20:52] peterdesmet commented on #7
👋Hi Jacob, thanks for your interest!

We started this library to bundle some functionality we need for the [Vespa-Watch project](http://vespawatch.be) (source code [here](https://github.com/inbo/vespa-watch)), which syncs observations back and forth with iNat. Vespa-Watch now actively uses this module, so we definitely want to keep it working. I'll leave it to core developer @niconoe to answer wha

[2019-05-23 01:01] j-h-m commented on #7
@peterdesmet Thanks for the reply, that's an awesome project! 😄 I look forward to hearing what @niconoe has in store for the project.

[2019-05-23 07:27] niconoe commented on #7
Hi @j-h-m and sorry for the late reply, I didn't initially noticed your message. Very happy to see your interest!

As Peter said, we initially created pyinaturalist as an external component for our Vespa-Watch project. This has some implications:

- Pyinaturalist doesn't actually covers the whole iNaturalist APIs, only the parts we currently need.
- While we can't promise we'll have much time to i

[2019-05-23 18:22] j-h-m commented on #7
Hey @niconoe, sorry I missed that it is already available in the doc. I feel kind of embarrassed now, should have read the doc more thoroughly! I will talk with my colleague about contributing https://github.com/CapPow, and see what he thinks. He's my go to when it comes to iNaturalist and the sciences in general, and I need to know more about what we need. Personally, I would like to see the modu

[2019-05-23 18:22] #7 closed

[2019-07-02 14:58] pleary opened #8 "Allow setting custom user agent"
Hi - I'm an iNat DevOps engineer. I don't have experience with pyinaturalist as a user, but I do see the requesting coming in. We seem to be getting more requests with user agent `python-requests/2.20.0`. I'm wondering if it's possible for users to set a custom user agent, and if so could that be added as a recommended best practice? Ideally the user agent would indicate they are using pyinaturali

[2019-07-02 15:00] pleary commented on #6
FWIW, any undocumented APIs could be changed or removed at any time

[2019-07-03 06:09] niconoe commented on #8
@pleary: yep, that seems like an excellent idea! I'll have a look soon.

[2019-07-03 06:10] niconoe commented on #6
@pleary : yep, fair enough!

[2019-07-08 15:03] niconoe commented on #8
I now have an initial implementation on master that works like this:

- all the functions that access the APIs accept a `user_agent` parameter (we need to encourage users to make use of it -> documentation needed).
- to make their life easier, they can also configure it globally with `pyinaturalist.user_agent = 'My custom agent 2.0'` (all subsequent calls will use it)
- if they do nothing, the use

[2019-07-11 12:37] niconoe commented on #8
Version 0.8.0 has just been released, adding this those features.

[2019-07-11 12:37] #8 closed

[2019-07-19 08:59] niconoe opened #9 "Add a test mode"
Especially useful to test code that does some "write" operations.

The idea is that in test mode, the API calls are not performed but logged somewhere (to be defined).

[2019-08-22 14:45] tghoward opened #10 "set requests cert behind firewall"
This might be simple, and if so, sorry for adding to the clutter.

I need to use a custom certificate in my calls. For example, here's the result using your very first demo:
[code]

I notice you are using the `requests` library and a little sleuthing led me to successful connection using `requests` directly:

[code]
the object `response` has the data I requested.

My question:  how can define the

[2019-08-23 07:54] niconoe commented on #10
Thanks for using pyinaturalist and for the report, @tghoward !

Indeed, this use case was not planned and is therefore not yet supported by pyinaturalist. I'm considering implementing it, but I need to think about an elegant solution (something that would work for all `requests` advanced options) first!

In the meantime, I just found the following sentence in `requests` documentation:

Can you try

[2019-08-23 12:57] tghoward commented on #10
@niconoe thanks for the reply.  That was a good find, but unfortunately the call still errors out with the same error:
[code]
after setting the environment variable `REQUESTS_CA_BUNDLE` (and after restarting python...)

Since we know what the issue is and it isn't supported yet, feel free to close this issue (or tag it as a future enhancement or something).

Thanks again.

[2019-08-23 13:41] niconoe commented on #10
Can you also try by setting the environment variable directly at the top of your python script?

`import os; os.environ["REQUESTS_CA_BUNDLE"] = "D:/ca-bundle.crt"`

[2019-08-26 12:17] tghoward commented on #10
That works! Thank you!
Cheers.

[2019-08-26 12:17] #10 closed

[2020-02-28 18:59] JWCook opened #12 "Add taxa endpoints from Node API"
# New Endpoints

I am currently playing around with the three [taxa endpoints](https://api.inaturalist.org/v1/docs/#/Taxa) from the iNat Node API:
* `/taxa`
* `/taxa/{id}`
* `/taxa/autocomplete`
I am working on some simple python wrappers for those. I figured I may as well contribute to this project, since someone else may find those useful. I have a [WIP branch here](https://github.com/JWCook/pyi

[2020-02-28 19:30] JWCook commented on #8
@pleary
Do you have a preferred format for indicating an iNaturalist user or project, for example to simplify log parsing? I can imagine this being useful on your end for monitoring purposes.

For example, something like `pyinaturalist/0.8.0 (user:jkcook; project:city-nature-challenge-2019)`

Or is there another standardized format for embedding arbitrary `key:value` pairs in a user agent string?

[2020-04-24 15:27] JWCook commented on #9
@niconoe One fairly simple way to accomplish this would be to use [`dryable`](https://github.com/haarcuba/dryable) to wrap python `requests`. In dry run mode, it would then log the request method, URL, parameters, headers, and any other kwargs instead of making a real API call. Here's a minimal example:

[code]

Some incremental improvements that could be added onto that, depending on the kind of

[2020-04-24 15:40] JWCook commented on #6
According to this integration test: https://github.com/inaturalist/iNaturalistAPI/blob/2808a5da0be1d7163cfe7ca19e99e9a8fc31f476/test/integration/v1/computervision.js#L11

The `computervision/score_image` endpoint accepts a multipart POST request to upload an image file.

I haven't tested that out yet, but if that does work, out of courtesy to the iNat servers it may be worthwhile to downscale the

[2020-05-06 14:05] niconoe commented on #12
Many thanks again @JWCook, your work on this is now merged and part of version 0.9.0!

[2020-05-06 14:05] #12 closed

[2020-05-06 14:07] niconoe opened #16 "New taxa features: show an example on README page"

[2020-05-06 14:12] niconoe opened #17 "Boolean API params"
I just noticed while playing with the new taxa endpoints that boolean API parameters need to be expressed as JS strings, for example:

`get_taxa(q='Lixus bardanae', is_active='false')`

It would be better to be able to do:

`get_taxa(q='Lixus bardanae', is_active=False)`

To do:

- investigate if we have a handy (lightweight, applicable to other endpoints, ...) solution for this
- if yes, fix
- if

[2020-05-06 14:28] niconoe commented on #9
Thanks for the explanations @JWCook, that looks prefect! A few quick comments:

- a basic boolean option would already be amazing!
- if we decide to provide more granularity, I agree the separation should be between read and write operations (`GET` vs the rest...)
- if we decide to provide more granularity, I'd keep the API as simple as possible to end users (sensible defaults, ...)
- it might be

[2020-05-06 14:57] JWCook commented on #12
Great! And thanks for fixing the example commands in the docs.

[2020-05-06 15:19] JWCook commented on #17
Good catch! After looking over the API docs some more, it looks like this applies to all boolean parameters. For example:
[code]

I think this would be simple enough to address by applying some more param processing in `make_inaturalist_api_get_call()`, for example:
[code]

I'm also going to look through the API docs some more to see if there are any other request parameter types that might need s

[2020-05-06 15:51] JWCook commented on #17
Looks like we have the following parameter types in the Node API:
[code]
Arrays should already be handled by `concat_list_params()`. I can submit a PR for booleans.

[2020-05-06 15:59] JWCook commented on #17
I think that just leaves dates and datetimes that could potentially benefit from some conversion or at least sanity checks. I'm not sure what timestamp formats the API accepts, but from a couple quick tests it looks like it at least accepts ISO 8601 format optionally with time zone (`2020-05-06T0243:09.333876-05:00`).

It **does not** work, however, with the default string representation of a pyth

[2020-05-06 16:48] JWCook opened #19 "Datetime API params"
# Datetime format issue
After looking into other API request parameter types for Issue #17, I think dates and datetimes could benefit from some additional conversion or at least sanity checks. I'm not sure how many formats work, but from a couple quick tests it looks like both the Node API and REST API at least accept **ISO 8601 format** optionally with time zone (`2020-05-06T0243:09.333876-05:00`

[2020-05-06 17:05] JWCook commented on #9
Good points. I was not able to find any more actively-maintained alternatives, but `dryable` may be low-activity because there's not much to it. Looks like it's really just a few lines of code: https://github.com/haarcuba/dryable/blob/master/dryable/__init__.py#L23-L30

Since this would be mainly for testing and not for use in a production system, two options to avoid adding a dependency would be:

[2020-05-26 10:46] niconoe commented on #17
Thanks for the great PR, @JWCook! That's now merged.

I just keep this issue open so I remember to add an additional "high level" test to ensure that the new conversion functions are actually called from the various user-callable functions (I know they are, it's just for the future). For example:

- [ ] test that `get_taxa(q='Lixus bardanae', is_active=False)` (the first example at the top of this

[2020-05-27 00:37] JWCook commented on #17
@niconoe I just added some more tests to [PR #20](https://github.com/niconoe/pyinaturalist/pull/20) (see [this commit](https://github.com/niconoe/pyinaturalist/pull/20/commits/0b980c05f37556baf501d41d090eb2f373e1d85e)), since that also involves request param conversion.

That adds both of those test cases, as well as a test that dynamically gets all functions named `pyinaturalist.node_api.get_*` (

[2020-05-27 07:19] JWCook commented on #17
I am moving those tests and other related updates to the `rest_api` module to a separate PR, #22, which is almost done.

[2020-06-04 09:04] niconoe opened #23 "Transfer project"
Hey @JWCook!

Since you made great contributions to this project and that it's unfortunately difficult for me at the moment to properly follow: would you be interested in becoming its official maintainer?

[2020-06-04 17:50] JWCook commented on #23
@niconoe I'd be open to that idea. Or, without doing a full repo transfer, you could just give me 'Maintainer' access so I could handle merges, releases, and issues.

But first, would you like to chat (say, on Zoom or Discord) to talk about the project a bit? If so, you can email me at JCook83@gmail.com and we can set something up.

[2020-06-05 07:32] niconoe commented on #23
Cool!

I already added you to the collaborators of the project! Don't hesitate to check if you have all the permissions you need or if I need to set another option for the "maintainer" access.

I'll also mail you!

[2020-06-05 15:09] JWCook commented on #23
Thanks! Looks like I have the permissions I need. For now, I'm just going to add a `dev` branch and start merging some changes there.

[2020-06-05 15:11] JWCook commented on #19
Fixed with PR #20

[2020-06-05 15:12] JWCook commented on #16
Closed with PR #21

[2020-06-05 15:12] #16 closed

[2020-06-05 16:06] #17 closed

[2020-06-05 16:22] JWCook opened #25 "Add additional response formats for observations"
## Built-in formats
I would like to add support for additional response formats for `GET /observations` (from original REST API): https://www.inaturalist.org/pages/api+reference#get-observations . I am mainly interested in the `dwc` format for Simple Darwin Core, but will add the rest while I'm at it.

## GeoJSON
Another relevant response format that the API doesn't currently provide is [GeoJSON F

[2020-06-09 16:17] JWCook commented on #1
@niconoe As of v0.9, there is 87% test coverage, and 95% in the current dev branch (`pytest-cov` output below). I think it's safe to close this issue.

[code]

[2020-06-09 16:28] JWCook opened #27 "Add test coverage report, auto-deploy packages for tagged releases, and other CI updates"
A few improvements that can be made to the testing & deployment process:

- [x] Update Travis CI config to automatically [build and deploy packages to PyPi for tagged commits](https://docs.travis-ci.com/user/deployment/pypi/#deploying-tags)
- [x] Generate test coverage report with `pytest-cov`
    - [x] Add [coveralls](https://pypi.org/project/python-coveralls/) integration
    - [x] Add test cove

[2020-06-09 16:38] JWCook commented on #23
I think I have everything I need, so I'm going to close this issue for now. I added issue #27 for deployment-related stuff. I'll follow up if I remember anything else I forgot to ask about.

[2020-06-09 16:40] #19 closed

[2020-06-09 19:34] #9 closed

[2020-06-09 19:34] #1 closed

[2020-06-10 00:02] #27 closed

[2020-06-10 00:22] JWCook opened #30 "Enable pre-release builds from dev branch"
Publishing pre-release builds from the dev branch would be useful, to make it easier to use the latest pyinaturalist changes in a client application.

Per [PEP 440](https://www.python.org/dev/peps/pep-0440/), an artifact with a version suffix like `0.10.dev5` indicates that it's a pre-release; it can be hosted by pypi, ignored by `pip install`, and only installed with either `pip install --pre`  o

[2020-06-10 10:35] niconoe commented on #30
Cool idea, I had no ideas it was a thing!

[2020-06-11 02:03] JWCook opened #32 "Drop Python 3.4"
[Python 3.4 reached EOL in March 2019](https://devguide.python.org/devcycle/#end-of-life-branches), and it's been adding a bit of extra work to keep compatibility with it. I'd like to drop this in the release after the next one (which would be `v0.11`).

Things to clean up/restrictions that would no longer apply:
- [x] Remove from tests and classifiers
- [x] Remove `typing` backport and use the st

[2020-06-11 02:34] JWCook opened #33 "Add Places endpoints from Node API"
I'd like to add the three [Places endpoints](https://api.inaturalist.org/v1/docs/#/Places) from the Node API.

### Main Tasks
* **Endpoints**
  - [x] `/places/{id}`
  - [x] `/places/autocomplete`
  - [x] `/places/nearby`
* **Docs**
  - [x] Doctrings + type annotations
  - [x] Usage examples
  - [x] Update release notes
* **Tests**
  - [x] Sample response data
  - [x] Unit tests

### Other minor ch

[2020-06-11 02:40] JWCook opened #34 "Add main Search endpoint"
There is a unified [`/search`](https://api.inaturalist.org/v1/docs/#!/Search/get_search) endpoint from the Node (v1) API that I would find useful. This appears to be the text search endpoint used by the main search bar on inaturalist.org, which combines results from observations, taxa, places, and possibly other records.

- [x] Add search endpoint
- [x] Doctrings + type annotations
- [x] Usage exa

[2020-06-11 02:42] JWCook opened #35 "Add Controlled Terms endpoints from Node API"
I'd like to add the two [Controlled Terms](https://api.inaturalist.org/v1/docs/#/Controlled_Terms) from the Node API.

- [x] `/controlled_terms`
- [x] `/controlled_terms/for_taxon `
- [x] Doctrings + type annotation
- [x] Error handling
- [x] Usage examples
- [x] Sample response data
- [x] Unit tests

**Note:**  `/controlled_terms/for_taxon ` appears to return a **422** if the specified taxon does

[2020-06-11 15:57] #25 closed

[2020-06-11 17:48] JWCook opened #36 "Customize readthedocs builder to use apidoc and auto-generate Sphinx sources"
[Sphinx-apidoc](https://www.sphinx-doc.org/en/master/man/sphinx-apidoc.html) is a useful tool to take `autodoc` a step further and to generate Sphinx source files, so you don't have to remember to make a `.rst` file for every one of your modules. This is easy to do in a `Makefile` or other script; the only catch is that readthedocs uses its own builder, and doesn't use the `Makefile`.

Fortunately

[2020-06-12 20:42] #36 closed

[2020-06-16 16:02] JWCook commented on #23
@niconoe Would you be able to give me access to project settings on readthedocs? My username there is also JWCook.

There seems to be an issue with the readthedocs build. It's probably an easy fix, but I can't reproduce it, locally, and I don't have access to the logs on readthedocs.

[2020-06-16 16:54] JWCook commented on #23
Update: I reproduced this by making a temporary readthedocs build from my fork. The issue was just that the readthedocs builder was using an older version of Sphinx; it now requires at least 3.0, and for some reason readthedocs uses 2.x by default. I added a `.readthedocs.yml`, and the docs are building correctly now (see PR #39).

It would still be useful to be added to the maintainers for [pyina

[2020-06-17 07:32] niconoe commented on #23
Hey @JWCook, I just added you as a maintainer for the project on readthedocs! thanks for all your work!

[2020-06-17 21:54] #32 closed

[2020-06-17 21:54] #23 closed

[2020-06-24 22:29] JWCook opened #42 "Add full API request params w/ type annotations and docstrings for all endpoints"
Sume functions already have this, but I think it will be useful to make all the function signatures consistent, and add annotated request params for the endpoints that don't have them yet. This is mainly to make them easier to use within an IDE without referring to the API docs, and to provide better runtime errors if an invalid parameter is passed.

This will just replace the keyword args `**para

[2020-06-30 23:17] #33 closed

[2020-07-02 19:07] JWCook opened #43 "Add Observation species counts endpoint from Node API"
The [GET /observations/species_counts](https://api.inaturalist.org/v1/docs/#!/Observations/get_observations_species_counts)
 endpoint returns counts of observations of all species matching the given search parameters. This is useful, for example, for getting all the species that a user has observed, ordered by number of observations.

This will also be a good opportunity to add some more request p

[2020-07-11 14:27] #43 closed

[2020-07-17 18:33] JWCook opened #47 "Add pull request & issue templates"
It will be useful to have templates for:
* Bug reports
* Feature requests
* New endpoint requests
* New endpoint PRs

[2020-07-17 18:33] #47 closed

[2020-08-13 08:23] mcalvera opened #48 "How to get projects information?"
Hello,

Thank you for the work done, is really useful.  I would like to know how can I get all the projects information, Is it possible?

Thank you in advance,
Miriam

[2020-09-01 18:14] JWCook commented on #48
Hi @mcalvera, That information would come from the `/projects` endpoints in the iNaturalist Node API: https://api.inaturalist.org/v1/docs/#!/Projects

Unfortunately those endpoints aren't yet implemented in pyinaturalist. You can see a [list of currently implemented endpoints here](https://pyinaturalist.readthedocs.io/en/stable/reference.html), by the way.

I can certainly add this to the list of

[2020-09-01 18:35] JWCook commented on #5
I am going to go ahead and close this issue, and will make additional issues for more specific error-handling features.

[2020-09-01 18:35] #5 closed

[2020-09-01 18:51] JWCook opened #49 "Add consistent error handling for all API functions"
Follow-up from #4 and #5.

# Summary
I'd like to propose making the error handling consistent across all API functions by doing the following:

- [x] Make all requests call `raise_for_status()` before returning the response (currently some, but not all, endpoints do this)
- [ ] Add additional custom exception classes for some common error types.
    * **The main purpose of this will be to provide

[2020-09-01 18:58] JWCook commented on #4
Will address this in issue #49.

[2020-09-01 18:58] #4 closed

[2020-09-01 20:14] JWCook opened #50 "Improve parameter handling and docs for creating, updating, and deleting observations"
- [x] Test & document unknown/undefined behavior noted in TODOs for `create_observations()`
- [x] Test & document unknown/undefined behavior noted in TODOs for `update_observations()`
- [x] Test & document unknown/undefined behavior noted in TODOs for `delete_observations()`
- [x] Simplify usage of `observation_field_values_attributes` for create and update; support a flat dict instead of nested l

[2020-09-01 23:34] #42 closed

[2020-09-04 19:40] JWCook opened #52 "Add sample response data to Sphinx docs for all endpoints"
It would be useful to have full example responses in our docs. I believe we can reuse the response data we already have for unit tests (`test/sample_data`).

The only problem is that some of these responses are quite large, and would add tons text to the docs that would be cumbersome to scroll through. So, I would only want to do this if the responses can be put inside collapsible sections that ar

[2020-09-04 21:13] JWCook opened #53 "Add basic projects endpoints from Node API"
Follow-up from #48.

Let's start with just adding the two basic projects endpoints:
* `GET /projects`
* `GET /projects/id`

[2020-09-04 21:25] #53 closed

[2020-09-04 21:35] JWCook commented on #48
@mcalvera I went ahead and added two of the `/projects` endpoints, which will be in the next release.

If you'd like to test it out now, you can install the development build with `pip install pyinaturalist==0.11.0.dev299`. See documentation here for usage info: [**node_api.get_projects()**](https://pyinaturalist.readthedocs.io/en/latest/modules/pyinaturalist.node_api.html#pyinaturalist.node_api.g

[2020-09-23 20:51] JWCook opened #57 "Add support for both file paths and file-like objects to endpoints that upload files"
The following functions have file parameters:

* `rest_api.create_observations()`
* `rest_api.add_photo_to_observation()`

I'd like to be able to pass either file paths, files, or file-like objects to these, e.g.:
[code]

This should be straightforward to add, preferably with a reusable utility function.

[2020-09-25 01:07] JWCook opened #58 "Fix issue with @document_request_params and duplicate keyword arguments"
Follow-up from PR #55 .

Example traceback:

[code]

[2020-09-25 16:04] #52 closed

[2020-09-25 16:43] JWCook opened #60 "Drop support for Python 3.5"
[Python 3.5 reached EOL on 2020-09-13](https://devguide.python.org/#status-of-python-branches). I think it would be reasonable to **keep pyinaturalist compatible with Python 3.5 through v0.11**. For v0.12+, we can remove 3.5 from the tox tests and start making use of Python 3.6 features: f-strings, type annotations for variables, etc.

Also see #32.

[2020-09-30 02:33] #57 closed

[2020-09-30 03:53] #58 closed

[2020-10-06 17:03] JWCook opened #62 "Add data visualization examples to README"
# Summary
**WIP: Still fleshing out some of the details on this issue**

In order to show off some of the cool data that iNaturalist provides, combined with the power of python, it would be great to add some examples to the README that make use of data visualization tools.

# Background Info
If you are coming here from **Hacktoberfest** or the **good-first-issue** topic, welcome! This issue may ta

[2020-10-06 17:07] JWCook commented on #62
@niconoe This is something I had wanted to do for awhile, but I haven't gotten around to it yet. I think this is something that could be doable without much prior experience, so I thought it would be worth opting this into [DigitalOcean's Hacktoberfest](https://hacktoberfest.digitalocean.com/), which is intended to help new developers get experience with open source projects.

Let me know if you h

[2020-10-07 00:45] JWCook opened #64 "Add docs summarizing which iNaturalist API endpoints pyinaturalist implements"
It would be useful to show in a concise manner which API endpoints pyinaturalist implements, so a new user can more easily get an idea of the features offered. For that purpose, I'd like to add a table listing all iNaturalist API endpoints, indicating which ones have been implemented in pyinaturalist.

Also, now that the list of API functions has grown, as well as the amount of documentation per f

[2020-10-07 01:10] #64 closed

[2020-10-07 07:57] niconoe commented on #62
@JWCook : really great idea, both for iNaturalist visibility and including newcomers, well done. I haven't heard of Hacktoberfest before.

The topic is now added, tell me if I can help further (caveat: as usual, I have much less free time than I'd like...)

[2020-11-03 01:09] JWCook opened #68 "Add support for providing credentials via environment variables"
As an alternative to passing user credentials as arguments to `rest_api.get_access_token()`, it would be useful to also have the option of providing these via shell environment variables, for example:
[code]

This is a pretty common pattern in other applications (for example, the [AWS CLI](https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-envvars.html)), since environment variables of

[2020-11-03 01:21] JWCook opened #69 "Add support for providing credentials via system keyring"
Follow-up to issue #68.

There is a convenient cross-platform [keyring](https://github.com/jaraco/keyring) package that provides integration with the system keyring. This would be useful to have as an optional method of authentication, and would definitely be my preference to use, if it were available.

It's been used on projects by my team at work, and it works fairly well. Keyring backends suppo

[2020-11-03 01:31] JWCook opened #70 "Add 'upsert' function for observation field values"
Currently, `put_observation_field_values()` will fail if the specified observation field value already exists. It would be much more convenient to create if it doesn't exist, and update (delete and recreate) otherwise. I see this was already noted in the TODOs.

[2020-11-03 22:53] #50 closed

[2020-11-04 23:33] JWCook commented on #48
@mcalvera FYI, these changes are now available in the latest stable release.

I am going to close this issue now; feel free to open another one if there are additional endpoints you would like added.

[2020-11-05 00:28] #60 closed

[2020-11-05 08:04] mcalvera commented on #48
Thank you so much!

[2020-11-05 22:33] #68 closed

[2020-11-06 16:36] #69 closed

[2020-11-12 17:53] JWCook opened #75 "Migrate from Travis CI to GitHub Actions"
[RIP Travis CI](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing) 😢
Travis-ci.org is going read-only next month, and travis-ci.com will no longer have free plans for open-source public repos. Moving to GitHub Actions seems to be the popular choice.

Specific features to reproduce:

- [x] Test multiple python versions
- [x] Run additional style checks + build tests (only run for python 3

[2020-11-12 20:06] JWCook commented on #75
@niconoe One thing I need from you is to enter pypi creds into github secrets, which only the repo owner can do. You can do that under **Settings > Secrets**, and you can put the pypi API token info under `PYPI_USERNAME` and `PYPI_PASSWORD`. [More info here](https://docs.github.com/en/free-pro-team@latest/actions/reference/encrypted-secrets#creating-encrypted-secrets-for-an-organization).

Sorry t

[2020-11-13 07:53] niconoe commented on #75
Hey @JWCook, thanks for this!

I created a token on PyPI and stored it in `PYPI_TOKEN` as requested, can you test?

Indeed, I don't mind doing the occasional repo owner tasks, but it would also be perfectly fine to transfer the repo if you prefer!

[2020-11-13 15:44] JWCook commented on #75
Okay, as long as you don't mind, we can keep it under your account.

Package deployment works now! [This job](https://github.com/niconoe/pyinaturalist/runs/1396409148?check_suite_focus=true) deployed version `0.12.0.dev42`.

After spending some time working with GitHub Actions, I like it quite a bit. There are a few areas where the documentation could be improved, though. If you have any other pyt

[2020-11-13 15:44] #75 closed

[2020-11-18 01:27] JWCook opened #79 "Add GET /messages endpoints from v1 API"
Add the three GET [Messages endpoints](https://api.inaturalist.org/v1/docs/#/Messages) from the Node (v1) API.

- [x] `/messages`
- [x] `/messages/{id}`
- [x] `/messages/unread `
- [x] Doctrings + type annotations
- [x] Usage examples
- [x] Sample response data
- [x] Unit tests

[2020-11-18 01:30] JWCook opened #80 "Add GET /users endpoints"
Add the two basic GET [Users endpoints](https://api.inaturalist.org/v1/docs/#/Users) from the Node (v1) API.

- [x] ` /users/{id}`
- [x] `/users/autocomplete`
- [x] Doctrings + type annotations
- [x] Usage examples
- [x] Sample response data
- [x] Unit tests

[2020-11-22 17:38] JWCook opened #81 "Parse timestamps into python datetime objects"
I just realized that observation timestamps (`observed_on_string`) aren't in a consistent format. This field may come directly from user-submitted photo metadata. The main issue here is timezone offset.

Some timestamps declare this explicitly, for example: `'Sat Sep 26 2020 12:09:51 GMT-0700 (PDT)'`
While others only have the timezone code: `'2020-09-27 9:20:02 AM PDT'`
python-dateutil is able to

[2020-11-28 21:18] #35 closed

[2020-11-30 00:48] JWCook opened #82 "Improve performance for auto-paginated functions"
Functions that perform pagination like `get_all_observations()` could be improved. They should use `requests.Session` to take advantage of its connection pooling, and also request the largest possible page size.

[2020-12-01 15:36] mcalvera commented on #48
Dear @JWCook , Can I get more than 10 projects with get_project() function? It seems that it only extract 10 projects.

Thank you for your answers!

[2020-12-01 16:50] JWCook commented on #48
@mcalvera Sure, that's controlled with the pagination parameters: `page` and `per_page`. Responses return this info along with `total_results`, for example:
[code]
So that means you're just seeing the first page of results, the default page size is 10, and with 153 total results there would be 16 total pages. You can get the next page with `page=2`:
[code]

This is basically doing the same thing a

[2020-12-01 16:55] JWCook commented on #48
Another thing to note is that for other endpoints that tend to return large numbers of results, we have functions to do the pagination for you and fetch all the results at once. those are the functions starting with `get_all_*`, for example [get_all_observations()](https://pyinaturalist.readthedocs.io/en/latest/modules/pyinaturalist.node_api.html#pyinaturalist.node_api.get_all_observations).

If y

[2020-12-02 08:22] mcalvera commented on #48
@JWCook Thank you so much! It works to me. I think that I can use a for to extract all the pages with the page and per_page elements. I try to extract the European projects and I am doing it with lat, lng and radius, that is why I need to extract more than 10 or 300 projects.  The function you developed is really useful!

[2020-12-02 16:57] mcalvera commented on #48
@JWCook It is possible to have the project URL? For example, for project "Vascular plants of Ham Lands Local Nature Reserve" get the URL "https://www.inaturalist.org/projects/vascular-plants-of-ham-lands-local-nature-reserve". Thank you in advance!

[2020-12-02 19:58] JWCook commented on #48
Yes, it looks like the API response doesn't include the full URL, but you can get that using either the project `id` or `slug`. For example:
[code]

Either URL will work. If you use the short URL (using the project ID), you'll be redirected to the long URL.

[2020-12-03 10:14] mcalvera commented on #48
It works! thank you so much.

[2020-12-04 18:48] JWCook opened #85 "Sample response data: Split into raw JSON responses (for testing) and processed python responses (for docs)"
Currently the same JSON files are used for testing and for example responses in the docs. Since there are differences (type conversions, etc.), a separate set of modified responses should be made for documentation purposes.

For the docs, some of the more verbose response fields (like geometry GeoJSON, extra levels of nested taxa/observation data, etc.) could be truncated to make it easier to read

[2020-12-04 22:40] #81 closed

[2020-12-09 19:49] willkuhn opened #88 "Add GET /observations/observers endpoint from Node API"
Add the [/observations/observers endpoint](https://api.inaturalist.org/v1/docs/#!/Observations/get_observations_observers) from Node API.

My selfish motivation behind this: I'd like to be able to ask questions related to user engagement in a project, for instance "how many users have made 10+ observations in project X?," and this endpoint seems to be the place to do it.

It seems pretty straightf

[2020-12-09 20:27] JWCook commented on #88
That would be great, thanks! Let me know if you run into any issues with that.

After taking a quick look, one thing I noticed about those endpoints is that both have parameters identical to `GET /observations`, except they don't list pagination parameters. It appears that the usual parameters (`page`, `per_page`, `order_by`, etc.) work just fine with those, though, so that seems to be an error in

[2020-12-22 22:45] samtreesandbushes commented on #62
@niconoe @JWCook

I'm experimenting with PyiNaturalist on Jupyter Notebooks atm if there is anything that hasn't been resolved here....or anything similar that might be of use .....

( I'm just figuring out a friendly template for UK users to siphon data off into the format needed for UK recording hub....but would love to contribute here if possible )

[2020-12-24 20:12] JWCook commented on #62
@samtreesandbushes That would be great! What datavis libraries are you familiar with? This issue is a fairly open-ended one, so any examples that you think would be useful to others would be welcome; it doesn't necessarily have to be a data visualization.

Jupyter notebooks can go under the [examples](https://github.com/niconoe/pyinaturalist/tree/dev/examples) directory. Soon I'll have that integr

[2020-12-25 01:44] samtreesandbushes commented on #62
Ok nice. Its been great so far, got pretty smooth download of the details I need for UK recording schemes, and have conversion to our grid reference system and things.

I´m hoping to put out a super simple final version which I´ll share on the forum, just walking slowly through it all for someone who hasn´t used Jupyter Notebooks / Python at all perhaps ( UK users who need to do what I´m doing but

[2020-12-27 14:28] willkuhn commented on #88
Happy holidays!

I was able to modify ``get_observations()`` and ``get_all_observations()`` to serve the ``GET /observations/observers`` and ``GET /observations/identifiers`` endpoints. Both endpoints do allow the pagination parameters, however, there appear to be bugs in each endpoint that might need to be worked out before we can implement these new functions here.

Here are the bugs that I've e

[2020-12-27 17:23] JWCook commented on #88
Thanks for the detailed report! I should have some time to take a look at this later this week.

Since these are the same endpoints used by inaturalist.org, there must be a combination of parameters that works (like `per_page=30` in the similar issue with `/projects`), at least as a temporary workaround.

It would be also worth creating an issue on INaturalistAPI for this so they're aware. Would y

[2020-12-27 17:29] willkuhn commented on #88
Yes, it would make sense that there's some parameter combo that works for the website backend...we just need to find it.

I will open an issue on github. Is it better to open 2 issues (one for each endpoint) or one bigger one, given that they aren't necessarily connected issues?

[2020-12-27 18:02] JWCook commented on #62
Sounds good! [Binder](https://mybinder.org/) is another option for sharing interactive notebooks. It works with a GitHub repo, and the interface is just Jupyter. Google Colab has a slightly different interface, and uses Google Drive instead of git. Both would be worth checking out.

Also, if there are users who don't know python but are familiar with Docker, it may be helpful to provide a Docker i

[2020-12-27 18:03] JWCook commented on #88
One issue per endpoint would be good. Thanks!

[2020-12-29 19:48] JWCook commented on #88
Well this is an interesting one. This is different from https://github.com/inaturalist/iNaturalistAPI/issues/227; in that one, the offset was off, and each page would return a certain number of unique and non-unique results. With these endpoints, I see that each page contains only unique results until ~500 results, like you noted, and then doesn't return any at all. The issue with Elasticsearch sh

[2020-12-29 19:55] JWCook commented on #88
Another thing I noticed is that the observer 'leaderboards' for a given species only shows 500 results, for example: https://www.inaturalist.org/observations?verifiable=true&taxon_id=47911&place_id=97394&preferred_place_id=97394&locale=en&view=observers
So it's possible that the limit of 500 results is the intended behavior. Even so the `HTTP 500` error is unexpected, and this behavior isn't docum

[2020-12-29 21:42] willkuhn commented on #88
One [issue](https://github.com/inaturalist/iNaturalistAPI/issues/235) submitted, one to go.

[2021-01-01 23:41] samtreesandbushes commented on #62
Ok! Nice, will look into these options.

iRecord is a central hub for UK biological recording. Its a portal for records to be checked and verified by experts and recording schemes before they reach the national database. There is a lot of specific recording schemes in UK for different taxa...so the whole structure is pretty complex, more so than other countries I think.

I have uploaded the [noteb

[2021-01-04 20:01] #48 closed

[2021-01-05 16:25] JWCook opened #90 "Add GET /observations/histogram endpoint from Node API"
API docs: https://api.inaturalist.org/v1/docs/#!/Observations/get_observations_histogram

This is a useful endpoint that returns different response formats depending on the time interval specified (year, month, week, day, hour, month of year, week of year). Month of year and week of year return integer keys (as strings, since it's JSON); the others return timestamps.

Example response for 'month o

[2021-01-07 18:21] JWCook commented on #88
@willkuhn Until that issue is answered, would you like to go ahead and commit what you have? You can just add a note in the docstring that it will currently return no more than 500 results, and then set the page size to 500 if not specified:
[code]

[2021-01-08 18:49] willkuhn commented on #88
@JWCook I've got that ready. Do you want me to add it as a patch again like before?

[2021-01-08 18:56] JWCook commented on #88
Yes, go ahead and submit a pull request for it. Thanks!

[2021-01-08 19:15] willkuhn commented on #88
Well, I think it's done. The coding I can do but the gitting confuses the hell out of me.

[2021-01-08 19:43] JWCook commented on #88
Yeah, git has quite the learning curve. Or learning cliff, depending on where you start. I'm happy to help if there are specific features or tasks in git that you'd like to learn. Or at least point you to some good resources; there are plenty of good ones out there, but also a lot of bad ones that can make it hard to sort though. Are you using a git interface within an IDE (like PyCharm), a standa

[2021-01-08 21:08] #90 closed

[2021-01-14 17:50] JWCook commented on #88
@willkuhn If your changes are done, you can submit a pull request by going to Pull Requests (from your fork) -> [New Pull Request](https://github.com/willkuhn/pyinaturalist/compare). Then select `niconoe/pyinaturalist (dev)` as the base repository, and the feature branch from your fork as the 'head repository':

![image](https://user-images.githubusercontent.com/419936/104628279-a9769400-565d-11eb

[2021-01-14 18:32] JWCook commented on #88
If you would like some practice with the `git` command line, this is a good opportunity. I've pushed some more changes to `dev` since you started, so there is a minor merge conflict. This can be fixed either by **merging** or **rebasing**. There's a good explanation of the differences here: https://www.atlassian.com/git/tutorials/merging-vs-rebasing

When dealing with your own feature branch, reba

[2021-01-14 19:55] willkuhn commented on #88
@JWCook thank you so much for taking the time to write up that helpful guide! I really appreciate that! I found the conflict that you pointed out and I believe it's resolved and PRed. Please let me know if that worked or not.

[2021-01-14 21:34] JWCook commented on #88
@willkuhn Great! I don't think the PR got submitted, though. Can you try again? It will show up here after being submitted: https://github.com/niconoe/pyinaturalist/pulls

[2021-01-14 21:53] willkuhn commented on #88
PR done but I forgot to run unittests locally after rebasing (I think that's the right word) so there are some failed tests.

**Palm to forehead**

Working on that...

[2021-01-14 22:23] willkuhn commented on #88
Ok I think it's finally good to go!!!! Tests appears to be passed. Let me know if I'm wrong

[2021-01-14 22:32] JWCook commented on #88
Great! It's almost ready to merge. Just added a couple comments on your PR.

[2021-01-16 03:49] #88 closed

[2021-02-01 04:10] #85 closed

[2021-02-03 19:38] JWCook opened #98 "Add example and/or helper utils to scrape photo metadata"
Original photo EXIF, XMP, and/or IPTC metadata is currently not available in the API. It is, however, available in the web UI ([example](https://www.inaturalist.org/photos/111852800)), so it's potentially scrapable.
**Note:** It appears that photo metadata is only visible when you are logged in, so user authentication will be required.

Relevant discussion:
* https://forum.inaturalist.org/t/api-to

[2021-02-03 20:01] #98 closed

[2021-02-03 20:47] JWCook opened #100 "Add an example of creating a choropleth map"
A choropleth map of observations would be a great example to add. This can focus on just the US for now, preferably at the county level.

Example: https://altair-viz.github.io/gallery/choropleth.html
![map](https://user-images.githubusercontent.com/419936/106807439-c683fe80-662e-11eb-9e5a-c16b5ac77a91.png)

[2021-02-08 22:26] JWCook opened #101 "Integrate Jupyter notebooks into Sphinx docs"
The `nbsphinx` extension can be used for this. As a nice but optional addition, it may also be possible to generate a gallery of thumbnails from notebook output images using `aphinx-gallery`.

[2021-02-13 19:59] #101 closed

[2021-02-13 20:12] JWCook commented on #6
In this issue: https://github.com/inaturalist/iNaturalistAPI/issues/193, kueda mentions that _"The computer vision endpoints are not public because there are a number of ways we think they could be misused"_. Based on that, I'm going to close this issue. It can be reopened if/when those endpoints are added to the public API.

[2021-02-13 20:12] #6 closed

[2021-02-13 22:03] JWCook opened #103 "Add create/update/delete observation endpoints from v1 API"
Since the older Rails-based (v0) API is considered deprecated and may be retired at some point in the future, it would be good to add some of the create/update/delete features from the v1 API, starting with [observations](https://api.inaturalist.org/v1/docs/#/Observations).

- [x] `POST /observations`
- [x] `PUT /observations/{id}`
- [x] `DELETE /observations/{id}`
- [x] Doctrings + type annotatio

[2021-02-18 03:35] JWCook opened #104 "Add GET /identifications endpoints"
Add the two basic [GET /identifications](https://api.inaturalist.org/v1/docs/#!/Identifications/get_identifications) endpoints from the Node (v1) API.

- [x] `/identifications`
- [x] ` /identifications/{id}`
- [x] Doctrings + type annotations
- [x] Usage examples
- [x] Sample response data
- [x] Unit tests

[2021-02-18 23:19] JWCook opened #105 "Add global rate-limiting"
Currently, only large paginated requests are rate-limited by pyinaturalist (with consecutive pages requested 1 second apart). What would be much better is global rate limiting that keeps _any_ subsequent requests within the suggested rate of 60 requests-per-minute. The [leaky bucket algorithm](https://www.wikiwand.com/en/Leaky_bucket) would be ideal, and there are at least a couple libraries out t

[2021-02-19 00:42] JWCook opened #106 "Custom observation ranking"
The purpose of this example would be to help an identifier prioritize observations that are more likely to be high-quality ones, based on additional criteria that aren't available as observation search parameters.

Some potential indicators of a 'high-quality' observation for a given iconic taxon might be (with different ranking weights, roughly in order from high to low):
* User's number of IDs f

[2021-02-19 01:04] JWCook opened #107 "Add template + functions to generate a basic HTML report from observation results"
There are a number of cases where it would be useful to visually preview what your observation search just returned. This should be doable with a jinja template and some [Bootstrap grids](https://getbootstrap.com/docs/4.2/layout/grid/).

If feasible, I'd like to add two output options:
* List: containing thumbnails + observation details
* Image grid: Use 'medium' size observation photos, with some

[2021-02-21 03:31] #104 closed

[2021-02-21 22:15] #105 closed

[2021-02-23 03:59] JWCook opened #112 "Implement generic auto-pagination to replace 'get_all_*()' functions"
Auto-pagination done via the `get_all_*()` functions could be made generic enough to put into a single function that could be applied to any endpoint that supports pagination. There are two methods used by the API:
* Normal pagination parameters
* Using record IDs and the `id_above` parameter (I think just for observations, because the db table is so large)

This would replace existing `get_all_()

[2021-03-01 21:46] #112 closed

[2021-03-04 20:46] JWCook opened #114 "Build and deploy inaturalist-notebook Docker image for new pyinaturalist releases"
Image repo: https://github.com/JWCook/inaturalist-notebook

I believe this can be triggered using the [repository_dispatch](https://github.com/peter-evans/repository-dispatch) event.

[2021-03-04 20:48] JWCook opened #115 "Set up Binder repository"
Set up [pyinaturalist-notebook](https://github.com/JWCook/pyinaturalist-notebook) to be usable on mybinder.org

Update: you can now try this out here:
[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/niconoe/pyinaturalist/main?filepath=examples)

[2021-03-07 22:52] JWCook commented on #114
It works! It's pretty slick once it's set up.

* Test trigger: https://github.com/niconoe/pyinaturalist/runs/2052379668?check_suite_focus=true
* Test deployment:
* Trigger CI config: https://github.com/niconoe/pyinaturalist/blob/a955355d97a974552d8c82a5eac7b8f2053d8939/.github/workflows/build.yml#L100-L107
* Deployment CI config: https://github.com/JWCook/inaturalist-notebook/blob/main/.github/wor

[2021-03-07 22:52] #114 closed

[2021-03-10 02:58] JWCook opened #118 "Add utility functions to convert to and from CSV files"
* To CSV: currently the Rails (v0) API has a CSV export format, but it will be deprecated at some point in the future. Let's add a function to take the observation response from the Node (v1) API and convert it to CSV.
* From CSV: This is needed to work with CSV files from the [iNat export tool](https://www.inaturalist.org/observations/export). It would be very convenient if we could process that

[2021-03-13 03:26] JWCook commented on #106
This is turning out to be quite a bit larger than just a pyinaturalist example script, so I'm moving this to a separate project: https://github.com/JWCook/inat-backlog-slogger

Anything generic enough that comes out of that I'll merge back into pyinaturalist.

[2021-03-13 03:26] #106 closed

[2021-03-14 00:57] AEHamrick opened #119 "KeyError requesting access token when DRY_RUN_ENABLED = True"
**Describe the bug**
When doing a dry run with pyinaturalist set up to pull credentials from the windows keyring and using DRY_RUN_ENABLED = True, I encounter the following exception:

`  File "C:\Users\[user redacted]\AppData\Local\pypoetry\Cache\virtualenvs\inaturalist-uploads-py3.7\lib\site-packages\pyinaturalist\auth.py", line 81, in get_access_token
    return response.json()['access_token']

[2021-03-14 01:06] #80 closed

[2021-03-14 01:09] JWCook commented on #119
Good catch! It's likely I didn't test this with authenticated endpoints. This should be an easy fix.

[2021-03-14 01:18] JWCook commented on #107
Moving this to a separate project. See https://github.com/JWCook/inat-backlog-slogger

[2021-03-14 01:18] #107 closed

[2021-03-14 01:22] JWCook commented on #119
Fixed. Changes are available in dev build `0.13.0.dev232`. Let me know if that works for you.

[2021-03-14 01:55] AEHamrick commented on #119
@JWCook thanks! I should have a moment tomorrow to test, will report back.

[2021-03-14 16:45] AEHamrick commented on #119
@JWCook Looks good here, thanks!

[2021-03-14 16:59] #119 closed

[2021-03-15 20:02] JWCook commented on #118
Some WIP utilities are here: https://github.com/JWCook/inat-backlog-slogger/blob/main/inat_backlog_slogger/observations.py

They will need some cleanup before moving to pyinaturalist, though.

[2021-03-28 10:44] abubelinha opened #121 "help getting access token for console applications"
**Is your feature request related to a problem? Please describe.**
Lack of documentation for newbies.

**Describe the solution you'd like**
A simple full-example of how to get an access token.

**Describe alternatives you've considered**
Looking for a example in iNaturalist site, I couldn't found any.

**Additional context**
I am a Python newbie so I might be misunderstanding what iNaturalist api

[2021-03-28 14:29] JWCook commented on #121
Good question.

**Short version:** You can just fill out the app URL and redirect URL with "inaturalist.org" or "https://github.com/niconoe/pyinaturalist" or anything else as a placeholder. In this case it's really just a formality and it won't be used for anything. I can add a note about that to the docs.

**Longer version:** iNaturalist uses OAuth2, which provides several different ways to get a

[2021-04-05 17:28] JWCook commented on #121
Does that answer your question, @abubelinha?

[2021-04-17 01:58] JWCook commented on #121
Going to close this issue for now, but I can reopen if you have any more questions.

[2021-04-17 01:58] #121 closed

[2021-04-23 16:57] JWCook opened #122 "Publish pyinaturalist on conda-forge"
I'd like to get this package published on [conda-forge](https://conda-forge.org). Data scientists and developers in other scientific domains often prefer conda as a package manager, due to its convenience for bundling compiled binaries. Non-conda packages can be pip installed into a conda environment separately ([see example here](https://github.com/JWCook/inaturalist-notebook/blob/main/Dockerfile

[2021-04-24 18:39] JWCook commented on #122
Submitted PRs for:
* python-forge: https://github.com/conda-forge/staged-recipes/pull/14713
* pyrate-limiter: https://github.com/conda-forge/staged-recipes/pull/14714
* pyinaturalist: https://github.com/conda-forge/staged-recipes/pull/14722

[2021-04-26 20:02] JWCook commented on #122
Done. For reference:
* Package info: https://anaconda.org/conda-forge/pyinaturalist
* Feedstock (auto-generated build config): https://github.com/conda-forge/pyinaturalist-feedstock/

[2021-04-26 20:02] #122 closed

[2021-05-11 22:19] JWCook opened #124 "Convert packaging to Poetry"
I've had a pretty good experience using [Poetry](https://python-poetry.org) for packaging in some of my other projects, and would like to use it for pyinaturalist as well. This won't have any impact on how users install the package. The only usage difference will be for local development and in GitHub Actions.

[2021-05-12 02:45] JWCook opened #125 "Rename 'master' branch to 'main'"
Hey @niconoe, would you mind renaming the default branch to 'main'? You can do that under Settings -> Branches.

It's not super important, but [GitHub made that the default last year](https://github.blog/changelog/2020-10-01-the-default-branch-for-newly-created-repositories-is-now-main/) and I've been updating all my projects to match.

Thanks!

[2021-05-12 06:09] niconoe commented on #125
Sure, we're also doing that all of our work projects!

[2021-05-12 06:11] niconoe commented on #125
Done, don't forget to update your local branches with something like:

[code]

[2021-05-12 06:16] niconoe commented on #124
Cool! I haven't tried it yet but it indeeds looks really cool. It's also great that users can still install with pip as usual, I quite like the simplicity/stability (compared to what happens in the JS world, for example).

[2021-05-12 14:29] JWCook commented on #125
Thank you!

[2021-05-12 14:29] #125 closed

[2021-05-12 14:47] JWCook commented on #124
As of [PEP 517+518](https://grassfedcode.medium.com/pep-517-and-518-in-plain-english-47208ca8b7a6), you can also `pip install` from a git repo that uses poetry and doesn't have a `setup.py`. That was one of the main things missing as of a couple years ago. At work, over the last few years we've gone from plain setuptools to pipenv to poetry for packaging most of our projects, and we're pretty happ

[2021-05-12 22:18] JWCook opened #127 "Make a simpler 'Quickstart' section for Readme"
Now that we have quite a few endpoints and features, It might be best to have the Readme only cover a few of the most commonly used endpoints, and the rest can be moved to the Sphinx docs. I think this would make it a bit easier for users to skim over the project for the first time.

[2021-05-13 15:02] JWCook commented on #118
Either way this is going to be much simpler with some extra dependencies, either pandas (the "heavyweight" option) or [tablib](https://github.com/jazzband/tablib) (the "lightweight" option). So this kind of feature may be better suited to a separate library.

[2021-05-14 01:43] JWCook opened #129 "Add more response formatting functions"
The current (optional) formatting functions for observations and taxa are handy for previewing response data. These aren't used by the API functions, but make it easier to show condensed data in examples, etc. I'd like to make these a little more consistent, move them to a separate `formatters` module, and add some more for other common response types.

It would also be convenient to have all of t

[2021-05-14 03:32] #127 closed

[2021-05-14 03:52] #129 closed

[2021-05-14 17:28] JWCook opened #131 "Add a project logo?"
I think the docs would look a little nicer if we had a project logo. Of course this isn't a necessity, but I think it would be fun.

### Python logo usage
I believe this is acceptable use of the python logo according to the Python Software Foundation's [guidelines](https://www.python.org/community/logos/) and [trademark usage policy](https://www.python.org/psf/trademarks/): specifically, it doesn'

[2021-05-14 17:29] JWCook commented on #131
What do you think @niconoe ?

[2021-05-15 21:03] aubreymoore opened #135 "pyinaturalist does not install correctly on Ubuntu 18.04"
**Describe the bug**

pip3 reports a problem when attempting to install Pyinaturalist on Ubuntu 18.04. The module is installed but the test code fails:

[code]

**Trace from pip3 install attempt**

[code]

[2021-05-15 21:18] JWCook commented on #135
For the first error, those top-level imports (`from pyinaturalist import *`) were just added to the latest development version and haven't been released yet (but will be fairly soon). You can either do:
* With pyinaturalist <=0.12: `from pyinaturalist.node_api import get_observations`
* Or install the pre-release build: `pip3 install -U --pre pyinaturalist`

For the second error, that's likely due

[2021-05-15 21:38] aubreymoore commented on #135
Hi Jordan,

Thanks for your rapid response and expert advice. Testing now. Will report
back.

- Aubrey

On Sun, May 16, 2021 at 7:18 AM Jordan Cook ***@***.***>
wrote:

[2021-05-15 23:29] aubreymoore commented on #135
Hi Jordan,

I followed your suggestions: Fixed the keyring issue and installed the
pre-release version of pyinaturalist (0.13.0.dev262).
Now running within a virtual environment.

Got the test code to work after changing the import line:

from pyinaturalist.node_api import get_observations
observations = get_observations(user_id='aubreymoore')

WORKS! YAHOO!

Thanks a lot to you and the other pyin

[2021-05-15 23:47] JWCook commented on #135
Great! Feel free to create another issue if you run into any more problems.

Also, the docs for the latest pre-release version can be found here: https://pyinaturalist.readthedocs.io/en/latest/

[2021-05-15 23:47] #135 closed

[2021-05-16 01:54] #34 closed

[2021-05-16 02:07] #124 closed

[2021-05-16 15:30] JWCook commented on #103
Usage details here: https://github.com/inaturalist/iNaturalistAPI/issues/257

[2021-05-16 16:24] JWCook opened #137 "Organize API modules by API version and resource type"
API v2 is in development, and the original Rails-based (v0) API is "kind of deprecated" and will be removed at some point after v2 is complete.

I think it would make sense to structure the pyinaturalist modules around the API versions:
* **Backwards-compatibility:** keep original `rest_api` and `node_api` modules and import the moved functions there, with a `DeprecationWarning`
* `pyinaturalist.r

[2021-05-17 01:00] JWCook opened #138 "Add create/delete observation photo endpoints from v1 API"
Should probably do these after #103.
API reference: https://api.inaturalist.org/v1/docs/#/Observation_Photos

- [ ] `POST /observation_photos`
- [ ] `DELETE /observation_photos/{id}`
- [ ] Doctrings + type annotations
- [ ] Usage examples
- [ ] Sample response data
- [ ] Unit tests

[2021-05-17 01:11] JWCook opened #139 "Add create/delete project observation endpoints from v1 API"
API reference: https://api.inaturalist.org/v1/docs/#!/Projects/post_projects_id_add

- [ ] `POST /projects/{id}/add`
- [ ] `DELETE /projects/{id}/remove`
- [ ] Doctrings + type annotations
- [ ] Usage examples
- [ ] Sample response data
- [ ] Unit tests

**TODO:** I'm not quite sure what the difference is between these two endpoints and `POST/DELETE /project_observations`.
* Both `POST endpoints h

[2021-05-17 01:17] JWCook opened #140 "Add create/delete annotations endpoints from v2 API"
API reference: https://api.inaturalist.org/v1/docs/#/Annotations

- [x] `POST /annotations`
- [x] `DELETE /annotations/{id}`
- [x] Doctrings + type annotations
- [x] Usage examples
- [x] Sample response data
- [x] Unit tests

[2021-05-17 01:19] JWCook opened #141 "Add create/delete comments endpoints from v1 API"
API reference: https://api.inaturalist.org/v1/docs/#/Comments

- [ ] `POST /comments`
- [ ] `DELETE /comments/{id}`
- [ ] Doctrings + type annotations
- [ ] Usage examples
- [ ] Sample response data
- [ ] Unit tests

[2021-05-17 01:23] JWCook opened #142 "Add create/update/delete observation field value endpoints from v1 API"
API reference: https://api.inaturalist.org/v1/docs/#/Observation_Field_Values

- [x] `POST /observation_field_values`
- [x] `PUT/observation_field_values/{id}`
- [x] `DELETE /observation_field_values/{id}`
- [x] Doctrings + type annotations
- [x] Usage examples
- [x] Sample response data
- [ ] Unit tests

**Note:** Wrap `POST/PUT` in an "upsert" function (update if exists, otherwise create).

[2021-05-17 01:27] JWCook commented on #70
Since this is part of the old API, I'd rather drop this issue and do this for the v1 API instead (see #142)

[2021-05-17 01:27] #70 closed

[2021-05-17 01:36] FelipeSBarros opened #143 "Convert observation JSON to Darwin Core format"
First of all: congratulations and thanks for this amazing API!
Not sure if what I want makes sense but and I am contacting here but I don't think is the case o a feature request...
Any way:

**Is your feature request related to a problem? Please describe.**
I would like to download observations related to a project (`get_observations(project_id=XXXX)` from `node_api`) but I am a bit lost on mappin

[2021-05-17 01:47] JWCook commented on #143
Interesting, I think you're the first person besides myself to ask about the DWC format. Yeah, what you want makes sense and I think this is doable. Let me do some more digging and I'll get back you on that.

Mind if I ask what you're working on? Just curious!

Also, some related threads:
* https://forum.inaturalist.org/t/mapping-inaturalist-metadata-to-darwincore-properites/10654
* https://github

[2021-05-17 02:57] JWCook commented on #143
Well, here was my first attempt, but it doesn't work quite like I thought it would.
This example requires the latest pre-release build, which you can get with `pip install -U --pre pyinaturalist`:

[code]

Unfortunately this is painfully slow and requires too many requests. I thought that `rest_api.get_observations()` could query multiple IDs at once (like `get_observations(id=[111,222,333,...]`,

[2021-05-17 13:53] FelipeSBarros commented on #143
Hey, @JWCook ! Nice to meet you!

Of curse, not! I am working in a biodiversity institution in Misiones, Argentina, called [Instituto Misionero de Biodiversidad](http://imibio.misiones.gob.ar).
We have a educational project and we are using the "bioblitz" concept and INaturalist app in some schools.
The challenge I have is to access the project data and all observations to get some statistics (pre

[2021-05-17 14:08] FelipeSBarros commented on #143
@JWCook , in the [issue " Feature request: Add additional observation formats provided by Rails API](https://github.com/inaturalist/iNaturalistAPI/issues/240), you mention:

Could you comment about it? I have no idea what is XMP or what you meant with what you said. But makes me believe that you are using another service to transform what you  get in Dwc.
Did I understand right? How you did it? Us

[2021-05-17 15:37] JWCook commented on #143
The challenge I have is to access the project data and all observations to get some statistics (pretty much the same shown in the project page). But we want to have it in our webpage.

That sounds like a fun project! That's definitely doable. If you can tell me what stats you want to get, I may be able to help.

I was working on something related to photography. XMP is one of the 3 main formats of

[2021-05-17 18:25] FelipeSBarros commented on #143
Yeah, I will organize the ideas I have and share with you. But probably I will need:
Total observations; Total species; % of observations by "group",  % of species by "group"
Users' rank by observation and amount of species...

That's sound great. I am not a experienced Python developer, but I would be glad to help, if you don't mind guinding me thru the development/implementation.
cheers

[2021-05-17 21:43] JWCook commented on #143
First of all, XML is a pain to deal with. Fortunately there's [xmltodict](https://github.com/martinblech/xmltodict), which makes this much easier by letting you convert between python dicts and XML.

So we will need a few things:
* A dict of iNat **observation** fields and equivalent DwC occurrence fields
* A dict of iNat **taxon** fields and equivalent DwC taxon fields
* A dict of iNat **photo**

[2021-05-18 08:34] niconoe commented on #131
I really like the idea of having the logo!

I second your thoughts about asking confirmation to a team member, even the use seems also perfectly fair to me.

I like your attempt, but I feel that it can be a bit confusing since the "text part" of the logo only mentions iNaturalist. I'm a bit concerned it could give to the impression (to the newcomers or the tired eye) that the whole thing is actual

[2021-05-18 11:15] FelipeSBarros commented on #143
@JWCook it is of great help!
I will try to work on that.
I already have done the fork and was looking for the `requirements.txt`. Seems that you are using `poetry`, right?
What do you mean with

Also, I am not a DwC expert. But taking a loook to their website I realized that there is a [`Simple Darwin Core`](https://dwc.tdwg.org/simple/). Should I base my implementation on this `Simple Darwin Core

[2021-05-18 15:23] JWCook commented on #131
Good point! I'm not too attached to that version, and I definitely don't want to it to be confusing.

Quick update (Not exactly the same font, but the closest I could find was "Yu Gothic UI Semibold"):
![pyinaturalist_5](https://user-images.githubusercontent.com/419936/118678404-9a961e80-b7c2-11eb-9203-8304eb310331.png)

Or a more minimal version 🐍 🐦:
![pyinaturalist_4](https://user-images.githubu

[2021-05-18 17:12] JWCook commented on #143
Yes, so you can install with `poetry install`. There are more details in the [Contributing Guide](https://github.com/niconoe/pyinaturalist/blob/main/CONTRIBUTING.md).

By 'constant values' I just mean things that will be the same for every observation, for example:
[code]

You can probably figure out the rest of those based on the example .dwc file and some of the iNaturalist code ([occurrence.rb]

[2021-05-18 20:51] FelipeSBarros commented on #143
Ok. I am not used with poetry. But the installation process was smooth.

Great. I will take a look on those files.

About the `Simple Darwin Core`, I will take a look if there is any tern used in INaturalist that is not covered in the `Simple Darwin Core`.

[2021-05-19 06:50] niconoe commented on #143
Nice discussions!

Yeah, I do have some experience with Darwin Core (mainly: mapping custom databases/text files to Darwin Core so they can get published to GBIF using a tool such as the [IPT](https://www.gbif.org/ipt)). I'm also the developper of [Python-dwca-reader](https://python-dwca-reader.readthedocs.io/en/latest/) (dwca being a standardised way to store data using the Darwin Core terms usin

[2021-05-19 07:06] niconoe commented on #131
Cool, I really like option 3. We might look for external help for the font.

Thanks again for all that, I really appreciate it!

[2021-05-19 17:30] JWCook commented on #131
I'm leaning toward option 3 as well. I found a more similar font ([Montserrat](https://fonts.google.com/specimen/Montserrat) bold), made some manual adjustments to make it match the angles and curves (there's probably a typographical term for that) of the original text, and aligned the python logo a bit better:
![pyinaturalist_3b](https://user-images.githubusercontent.com/419936/118857654-e7025c80

[2021-05-20 07:18] niconoe commented on #131
Cool, looks really nice to me! @peterdesmet: any opinion on this? I trust your eyes more than mine :)

[2021-05-20 08:15] peterdesmet commented on #131
Cool, a logo! 🎉

Not to rain down on the parade, but can I suggest using a hexagon logo? These type of logos are often used for libraries and packages (https://github.com/rstudio/hex-stickers#readme), work well pretty much everywhere and make for fun stickers, see https://oscibio.inbo.be/assets/backgrounds/home.jpg

Here's a quick attempt (using the Montserrat bold font, but not yet the green i).

[2021-05-20 08:26] niconoe commented on #131
Ah, I admit I really like those, too (no strong preference between the 3).

So, we now have 4 options, which is a nice problem to have :)

@JWCook: what do you think? I think you should have the final word, since you're the one doing all the hard work!

[2021-05-20 11:28] FelipeSBarros commented on #143
Nice, @niconoe . Thanks for your thoughts.
As I have this challenge for this week I will work on it downloading the data in a Darwin Core structure without using the API.
So, @JWCook I will take a wile working in this task, but I will be working on that definitely.

Cheers

[2021-05-20 14:48] JWCook commented on #131
Thanks @peterdesmet! I also like hex stickers, and I have a bunch of those from conferences. I'd actually like to use both styles, if possible, since they can be used in different contexts. For example, RStudio uses both logo styles in various places in their docs and website:
<img src="https://www.rstudio.com/wp-content/uploads/2018/10/RStudio-Logo-Flat.png" height=100 /> &nbsp; &nbsp; &nbsp; &nb

[2021-05-20 15:06] JWCook commented on #131
As for physical stickers, iNat staff have said they [don't want unofficial merch with their logo](https://forum.inaturalist.org/t/may-i-use-the-inaturalist-logo-to-link-to-project-on-a-blog/2978/3).

[Python trademark usage policy](https://www.python.org/psf/trademarks/) is a little more lenient, though:

Not that I have any plans to start making stickers... except maybe for my own laptop! 💻

[2021-05-20 15:26] JWCook commented on #131
A few ideas for variations to try, just to see how they would look:
* The third one, but without the white inner border on the bottom half (similar to [wireshark](http://hexb.in/hexagons/wireshark.png))
* The third one, with a transparent instead of white background (to change appearance for GitHub light/dark mode)
* Something with the python logo

[2021-05-21 04:30] JWCook opened #145 "Add models for API response objects"
I would like to add models for all of our API response objects, as an alternative to working with just JSON. This would be a big improvement toward making this a fully-featured python API client.

To do this I'd like to use the [attrs](https://www.attrs.org) library. It's lightweight, fast, used everywhere (with a subset of very similar features added to the stdlib in 3.7 as `dataclasses`), integr

[2021-05-22 17:13] JWCook opened #147 "Add webhook for GitKraken Boards"
Hey @niconoe, one more thing I forgot to ask about: could you add a webhook to this repo for me so I can sync issues with [GitKraken Boards](https://www.gitkraken.com/boards)? It should just take a couple minutes to set up.

Now that I have a larger number of small projects, I wanted to be able to see all my issues in one place. GitHub Projects can do this, but requires transferring repos to a sin

[2021-05-22 22:45] JWCook opened #148 "Support additional OAuth2 flows"
Currently, we're using the [Resource Owner Password Credentials Flow](https://www.inaturalist.org/pages/api+reference#resource_owner_password_credentials_flow), which is probably what most users of a python package will want to use. There may be use cases for two of the other flows, though:
* Authorization Code Flow: may be useful for a CLI tool (including one I'm working on at the moment) by laun

[2021-05-23 03:47] #137 closed

[2021-05-24 22:26] JWCook commented on #118
Deciding to make this a separate library: https://github.com/JWCook/pyinaturalist-convert

[2021-05-24 22:26] #118 closed

[2021-05-25 02:22] FelipeSBarros commented on #143
@JWCook I have been working but not sure if I am doing it right.

So...
Considering your point:

I did a dict, like this:
[code]

[code]

I could not find a lot of INat terms on DwC, so I am putting all of them in a spare dict.
I also realized that there are some terms which the values are pretty similar but not exactly equals:
E.g.:
`'observed_on': 'dwc:verbatimEventDate' # but with different sta

[2021-05-25 03:00] JWCook commented on #143
That looks great so far! Thanks for working on this.

For the values that are in a slightly different format (like license codes and datetimes), I can help add converter functions later, if needed. If you find any more, just keep adding comments like you already have.

A couple notes:
* `dwc:eventTime` probably comes from the time observed, not the time created
* `iconic_taxon_id` is specific to i

[2021-05-25 03:01] JWCook commented on #143
When does your bioblitz start, by the way? Or is that already complete?  I haven't participated in one before, but I want to. They sound like fun!

[2021-05-25 09:07] niconoe commented on #147
No problem, @JWCook. I'm currently experiencing difficulties creating a GitKragen account (I try to sign-in using GitHub - I guess that's the easiest - but get an infinitely loading page). I've tries a few things (logging out/in of GitHub, restarting my browser, ...) without success so far, I'll try again in a couple of hours!

[2021-05-25 12:52] peterdesmet commented on #131
@JWCook happy to have both a regular and hex logo. 😌  I would settle the style for regular logo first, before I adapt and finalize the hex one:

- I would opt for your text based on ([png](https://github.com/JWCook/pyinaturalist/blob/logo/docs/images/pyinaturalist_logo.png)), not the minimal one with just the two logos you suggested above
- Personally, I don't think we need to include the Python l

[2021-05-25 13:13] JWCook commented on #131
Regarding permission, I sent legal@calacademy.org a message on the 16th, but haven't heard back yet.

[2021-05-25 13:23] JWCook commented on #147
I'm actually seeing the same thing now, so it's not just you. It was working perfectly a few days ago! Maybe that's a sign I should look around for other options. Thanks for trying, anyway!

[2021-05-25 13:41] JWCook commented on #147
Looks like there was just a new release yesterday, and some others are having the same problem. Just bad timing, I guess!

![image](https://user-images.githubusercontent.com/419936/119508014-fc133b80-bd34-11eb-9a54-2132d6f00fd7.png)

[2021-05-25 14:35] JWCook commented on #131
About the python logo, I know what you mean, python is already implied, but I somewhat like it because it matches the style of the iNat bird. For comparison, some organizations in the iNaturalist Network customize the logo by replacing the bird with another animal or icon that represents the country, for example:

Base:
<img src="https://static.inaturalist.org/wiki_page_attachments/1419-original.p

[2021-05-25 14:46] JWCook commented on #147
It appears to have been fixed. Could you try again when you get the chance?

[2021-05-25 14:46] peterdesmet commented on #131
Ah yes, that makes more sense then. I'll see how I can incorporate the font with green leaf it in one of the hex logos.

[2021-05-26 02:34] FelipeSBarros commented on #143
OK. I think I will make a review on what I have done, but leaving the terms I didn't find commented in its respective dict. Later we can exclude then, but I think that perhaps this way we can have a track of all terms.

Ok. I will confirm and fix it.

Thats great!

The [bioblitz we organized finished on 22th may](https://www.inaturalist.org/projects/bioblitz-misiones) (Biodiversity day, here in Ar

[2021-05-26 07:42] peterdesmet commented on #131
Here's logo v1 with the pyiNaturalist font, at the typical size it will be displayed at:

<img src="https://user-images.githubusercontent.com/600993/119621104-06e9d100-be06-11eb-8e37-e9c5fd72b9b1.png" width="120">

It's simple, but I think it works and it has a strong link with the long logo. I could also make a v3 version of the logo, but you could help me @JWCook if you could provide a negative

[2021-05-26 15:36] JWCook commented on #131
Thanks, that's looking good! [Here's a white version](https://user-images.githubusercontent.com/419936/119688354-87f89680-be0d-11eb-93fa-0cee4052fbea.png).

[2021-05-27 11:13] sdjbrown opened #150 "TypeError when using local_photos parameter in create_observation(): Object of type BytesIO is not JSON serializable"
Hi folks.
I've been playing with pyinaturalist with the intention of using it to streamline the upload of a database of observation records and associated photographs.

However, I've run into a problem. The following works brilliantly:

[code]

However, when I try to combine it all into a single step using the `local_photos` parameter I get an error:

[code]

Unfortunately, I'm not yet competent e

[2021-05-27 14:01] JWCook commented on #150
Thanks for reporting! This may be a bug. What version of pyinaturalist and python are you using? And Could you post the full traceback?

[2021-05-28 00:02] FelipeSBarros commented on #143
@JWCook I think I am almost done.

* A dict of iNat observation fields and equivalent DwC occurrence fields :heavy_check_mark:
* A dict of iNat taxon fields and equivalent DwC taxon fields :heavy_check_mark:
* A dict of iNat photo fields and equivalent DwC identifier fields :heavy_check_mark:
* A dict of DwC fields that will be constant values
* Possibly some extra functions to convert values to d

[2021-05-28 00:53] JWCook commented on #143
Looks good! Would you like to go ahead and submit a pull request for that? It's okay if it's not 100% finished yet. I'll probably have some time next week to start adding onto it.

I started a separate package for conversion tools for observation data: https://github.com/JWCook/pyinaturalist-convert. I decided to keep that separate from the main `pyinaturalist` package due to the number of depende

[2021-05-28 03:11] sdjbrown commented on #150
Python 3.7.3
pyinaturalist 0.13.0

Full traceback:
[code]

[2021-05-28 03:31] JWCook commented on #150
Alright, that's a bug! Keep using `add_photo_to_observation()` for now, and I'll get that fixed soon.

[2021-05-28 03:35] sdjbrown commented on #150
Great! Good to know. Best of luck as you hunt it down and fix it up.

[2021-05-28 13:20] FelipeSBarros commented on #143
Thats great, @JWCook !
So, if I understand right: I should send a PR in [pyinaturalist_convert](https://github.com/JWCook/pyinaturalist-convert/blob/main/pyinaturalist_convert).
And the dicts I have created should be in the [dwc.py](https://github.com/JWCook/pyinaturalist-convert/blob/main/pyinaturalist_convert/dwc.py).
I will be working on that right now.
Thanks

[2021-05-28 14:16] JWCook commented on #143
Okay, that's merged in now. I added taxon ancestry onto that, and here's an example of the output so far:
[code]

So the next steps are adding XML namespaces and formatting some of the fields that differ slightly.

[2021-05-28 17:47] FelipeSBarros commented on #143
Great, @JWCook !
Let me know to support your in the next steps.
Should we close ths issue and start working on the  [pyinaturalist_convert](https://github.com/JWCook/pyinaturalist-convert/tree/main/pyinaturalist_convert) repository?
Cheers

[2021-05-28 21:04] JWCook commented on #150
This has been fixed in the latest pre-release build. You can get it with:

[code]

For the development version, you may need to update your imports to:
[code]
Previous imports (like `from pyinaturalist.rest_api...`) will still work, but will show a `DeprecationWarning`.

Let me know if that works for you!

[2021-05-28 21:12] JWCook commented on #143
Sounds good, here's an issue for the remaining things to do: https://github.com/JWCook/pyinaturalist-convert/issues/7

[2021-05-28 21:12] #143 closed

[2021-05-29 03:29] #115 closed

[2021-05-29 03:51] JWCook opened #152 "Add an "Intro to pyinaturalist" Jupyter notebook"
Now that pyinaturalist can be used on Binder (see #115), it would be great to have an introductory notebook. This would be similar to the Readme examples, but with some visualizations added. If I'm feeling creative enough, I'd also like to have more of a theme to tie the examples together, or some sort of logical progression of ideas that build on each other (rather than a sequence of isolated, un

[2021-05-29 03:52] JWCook commented on #115
@niconoe You should check this out when you get the chance!

[2021-05-30 20:55] AugustT opened #153 "Add sound file upload"
**Is your feature request related to a problem? Please describe.**
I'd like to add sound files to observations, in the same way that is supported for photos

**Describe the solution you'd like**
An analogue of add_photo_to_observation

[2021-05-30 22:40] JWCook commented on #153
Sure, we can add that... as soon as I can figure out how. Strangely I don't see and endpoint for observation sounds listed anywhere in the [API docs](https://api.inaturalist.org/v1/docs/#/), but there must be one somewhere. I'll look into that some more and get back to you.

[2021-05-31 00:40] JWCook commented on #153
Okay, I found an undocumented `POST /observation_sounds` endpoint. I should be able to get that added soon. I can also add a `sounds` parameter to upload sound files with `create_observation()` and `update_observation()`.

[2021-05-31 01:48] JWCook commented on #150
Also, just a heads, up the next release will be renaming and moving a few things for consistency, and in preparation for adding support for the upcoming V2 API.

For the current pre-release build, you can update your imports to:
[code]
Previous imports (like `from pyinaturalist.rest_api...`) will still work, but will show a `DeprecationWarning`.

[2021-05-31 03:01] JWCook opened #155 "Add initial support for V2 API"
With the [V2 API](https://api.inaturalist.org/v2/docs/) in development, in the near future I'd like to start adding initial support for it, with the expectation that it's subject to change and just for testing purposes for now. A few of the basic GET endpoints for Observations, Taxa, and Projects would be a good place to start.

See also: #137

[2021-05-31 07:00] AugustT commented on #153
This is great. I'm working on a tool for automating the uploaded of bat recordings. This could make it easier for bat workers to share recording for use in classifiers.

FYI I couldn't get the local image argument in the createobservation function to work, had to use the function to add the image afterwards.

[2021-05-31 07:02] AugustT commented on #153
@JWCook I see your merge. Is this functionality ready to use?

[2021-05-31 14:12] JWCook commented on #153
Changes are in the latest pre-release build, which you can get with:
[code]
Pre-releases are more likely to contain bugs, but please let me know if you run into any issues. Notes on changes are in the [changelog](https://github.com/niconoe/pyinaturalist/blob/main/HISTORY.md). I also just fixed the issue with image uploads (#150). So now you can do:

[code]

Or upload multiple files at once:
[code]

[2021-05-31 14:25] JWCook commented on #153
Your tool for working with bat recordings sounds interesting. Do you plan to use audio metadata or some other data source to automatically fill out observation details (time, location, species guess, etc.)? Just curious because I've dabbled with something similar for observation photos + XMP metadata.

[2021-05-31 16:09] AugustT commented on #153
Boom! That's great. I'll test it out this evening. Your on the money. I use a bat detector which produces wav files packed with metadata (echometer touch). Lots of other people use the same detector. I'm building a pipeline so that I can point to a directory with lots of recordings in it and it can churn away sending them up to iNat. Obviously having the audio files up there is key for verificatio

[2021-05-31 17:22] JWCook commented on #153
That sounds like a good reason to use [observation fields](https://www.inaturalist.org/pages/extra_fields_nz). In practice, there's no standardization for how those are used, and many of the fields out there are project-specific, but they're still fairly useful. You can [define your own](https://www.inaturalist.org/observation_fields/new), but it would also be worth checking to see if any fields a

[2021-05-31 17:27] AugustT commented on #153
Oh boy this is great. I can certainly use some of those existing fields!

[2021-05-31 18:16] AugustT commented on #150
I'm getting

[code]

[2021-05-31 18:23] JWCook commented on #150
Are you sure you're using the pre-release version? You can check your current version with `pip freeze`, and update with `pip install -U --pre pyinaturalist`.

[2021-05-31 18:29] AugustT commented on #150
pip freeze returns `pyinaturalist==0.14.0.dev343`

[2021-05-31 18:40] AugustT commented on #150
user error

[2021-05-31 18:40] JWCook commented on #150
Weird, I just started a new virtualenv fro scratch, installed that version, and tried `create_observation()` with `photos`, and it appears to work fine for me.

Can you post your code and the full traceback?

[2021-05-31 18:40] AugustT commented on #150
It works

[2021-05-31 18:41] JWCook commented on #150
Oh good, that's a relief.

[2021-05-31 18:44] AugustT commented on #150
Sorry my bad!

[2021-05-31 18:46] AugustT commented on #153
So I'm running the new version using sounds and photos. Its not complaining but the sound files are not ending up on iNat. Here is the response I get (I'm calling python via R because that my home turf!)

[code]

The path to the sound file I'm passing is `data/PIPPIP_20210526_221147.wav`. The file is 3.4MB

[2021-05-31 19:18] JWCook commented on #153
Hmm, I had assumed `POST /observation_sounds` would work the same as `POST /observation_photos`, but maybe the request body format is different. I'll look into it.

[2021-05-31 19:39] JWCook commented on #153
Found it. `POST /observation_photos` accepts the observation ID in either the request body or request params, while `POST /observation_sounds` only accepts it in request params. I'll get that fixed shortly.

[2021-05-31 19:53] AugustT commented on #153
Great work @JWCook ! Let me know once it is ready to test

[2021-05-31 19:59] JWCook commented on #153
Done. Give the latest build a try (`0.14.0dev356`).

[2021-05-31 21:04] AugustT commented on #153
Works a charm

[2021-05-31 21:04] #153 closed

[2021-05-31 21:38] sdjbrown commented on #150
Great work JWCook! I have installed the pre-release build, and it works as desired.

Many thanks!

[2021-05-31 22:02] #150 closed

[2021-06-01 23:01] JWCook opened #158 "Add integration with requests-cache"
I'm currently maintaining [requests-cache](https://github.com/reclosedev/requests-cache), and the iNaturalist API is a use case I specifically had in mind for it. Requests-cache can already be combined with pyinaturalist (via `requests_cache.install_cache()`, which I've already been doing in some of my other projects), but I think this is useful enough to integrate into pyinaturalist directly, usi

[2021-06-01 23:05] JWCook opened #159 "Add user life list endpoint"
iNaturalist life lists ([example](https://www.inaturalist.org/lifelists/jkcook?view=tree&details_view=observations)) use an undocumented endpoint, `GET /observations/taxonomy`, which looks quite useful. This provides a much faster and more concise way to create a taxonomy tree of your own observations, which is something I've previously done the hard way with the main `/observations` endpoint.

Ex

[2021-06-02 23:23] #159 closed

[2021-06-02 23:32] JWCook opened #162 "Lazy-load nested model objects"
For example, `Observation.taxon`.

[2021-06-02 23:32] #162 closed

[2021-06-02 23:53] JWCook opened #163 "Add basic structure for API client class"
The data models (#145) are mostly complete. The next step is to add support for API requests that return model objects instead of JSON. For backwards-compatibility, this should be an optional feature, not a replacement for the existing API functions.

**Update:** Decided to go with a compromise between options 2 and 3, described in comments below. This will involve an API client class and one cont

[2021-06-03 00:01] JWCook commented on #163
Okay, after writing that out, I think I'm leaning toward option 2.

Do you have any thoughts on this, @niconoe?

[2021-06-03 00:04] JWCook commented on #163
Also @synrg, since you expressed interest in this, do you have a preference between these two options?

[2021-06-03 08:46] niconoe commented on #163
@JWCook: thanks!

While option 1 is also perfectIy fine, I really like option 2. It's like a brand new and exciting API (between client code and Pyinaturalist).

In that case, I'd also suggest communicate to users in terms that keep the separation very clear and also give guidance: "hey, we have a new major version of Pyinaturalist, you can continue using the old (mostly unchanged API) but there's

[2021-06-03 16:18] synrg commented on #163
I'm also in favour of option 2. Pragmatism wins out here for me over strict separation of code & logic. And if not 2, then something else *other* than 1, which is not very appealing for the reasons already stated.

Regarding the example given, why `Observation.search()` and not `Observations.search()` (as on a collection of Observation objects)?

[2021-06-03 16:35] JWCook commented on #163
Thanks for the input! My example was for adding that to the current [`Observation`](https://github.com/niconoe/pyinaturalist/blob/57a25905da29c57121aa23f3caa3084c5f1f0aa6/pyinaturalist/models/observation.py#L28) model, just because that's what I have so far.

Adding separate classes for model collections is a possibility. I've actually experimented with that a bit [over here](https://github.com/JW

[2021-06-03 16:38] synrg commented on #163
I'm all for keeping things simpler. It wasn't something so much that I thought was *wrong* as something I didn't have a clear idea yet of how it ought to work. Looking for examples from other API clients as a guide would be where I'd start, too.

[2021-06-03 16:57] JWCook commented on #163
### Option 3: API client class
Another slightly different option to consider would be a single API client class containing wrappers for all API functions. There are some good examples of that out there, like `boto3` again (with [Sessions](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/core/session.html)), the other [AWS SDKs](https://aws.amazon.com/tools/), and [python-gitlab](h

[2021-06-03 17:08] synrg commented on #163
That's exactly the choice I made in Dronefly. I wouldn't hold up my newbie python code as a shining example to follow, though. :)  And yeah, it's ... messy with all those methods and no grouping together per resource type, I agree.

[2021-06-03 17:16] synrg commented on #163
A hybrid approach? Client object for all the settings and stuff, but with each of the models represented thusly (from Gitlab link you gave):

[code]

We could have `inat.observations.search()`, etc.

[2021-06-03 19:45] JWCook commented on #163
Yeah, I like the look of that!

[2021-06-04 01:58] JWCook commented on #131
I got a response from Cal Academy Legal!

* Bad news: Using a _modified_ iNaturalist logo is only allowed for the iNaturalist network members (like the ones I linked above) who are actually endorsed by iNaturalist.
* Good news: Using an _unmodified_ iNaturalist logo (bird + wordmark) and adding it alongside another logo is okay.

Here's an example they sent me of acceptable use:
![unnamed0](https:

[2021-06-04 14:36] niconoe commented on #163
I'm not sure I fully understand the last example, but the settings discussion made me think of the requests approach which I quite like:

you can either call methods (such as `get()`) directly (nice for newcomers), or via a method of a session object (allows advanced settings, sharing those settings across subsequent calls, ...).

[2021-06-04 15:43] synrg commented on #163
As for how I understood the last example, `inat` would be an instance of INatClient (or whatever) containing settings, session, and all the other goodies. `inat.observations` would be how you organize all the model methods off of the client, i.e. `inat.observations.search()` would do an `Observation.search()` within the context of the `inat` client (settings, session, etc.), I think.

This resolve

[2021-06-04 16:01] JWCook commented on #163
Exactly, I see that as a good way to get the benefits of both options 2 and 3 without most the drawbacks we mentioned. So `InatClient.observations` would be a "controller" object that contains the wrapper methods for observation requests, and `InatClient.taxa` for taxon requests, etc., rather than putting all the wrapper methods in a single class.

The only downside is, well, it will be more work,

[2021-06-05 19:56] AugustT opened #164 "observed_on_string not working"
**Describe the bug**
I'm using observed_on_string but the value entered does not appear on the record once uploaded

**To Reproduce**
[code]

[2021-06-05 20:06] AugustT commented on #164
I tried "YYYY/MM/DD" too as well as "YYYY/MM/DD HH:MM:SS", but none seem to result in a date in the observation

[2021-06-05 20:07] AugustT commented on #164
Here is an example https://www.inaturalist.org/observations/81758279

[2021-06-05 20:29] AugustT commented on #164
Here is an example response text

[code]

[2021-06-05 20:44] JWCook commented on #164
Thanks for the detailed bug report! I'll look into it.

[2021-06-05 21:37] JWCook commented on #164
@AugustT
This is odd, it seems the API is more fussy about datetime formats than expected. I pushed out a quick fix so `observed_on_string` will get converted from pretty much any format to ISO 8601 format. That was already being done for other datetime params, but this one got left out for some reason. Side note: `observed_on_string` is also aliased to `observed_on`, since that's what it's called

[2021-06-10 03:29] JWCook commented on #131
Here are a few possible options that I think comply with their guidelines (and I will ask Legal again to make sure). Let me know what you think.

### Option 1
A version with just (python logo) X (iNaturalist logo):
![py_x_inaturalist_logo_2](https://user-images.githubusercontent.com/419936/121459785-7ec10b00-c971-11eb-8066-2c5892f86a17.png)

### Option 2
Or maybe a 🖤 instead (which is fairly commo

[2021-06-10 04:11] JWCook commented on #147
@niconoe Would you mind giving this another try when you get the chance? Thanks!

[2021-06-10 08:52] niconoe commented on #147
Finally done! And sorry for missing the notification 16! days ago.

[2021-06-10 14:41] JWCook opened #170 "Test issue, please ignore"

[2021-06-10 14:43] #170 closed

[2021-06-10 14:50] JWCook commented on #164
@AugustT Did that work for you?

[2021-06-10 14:59] JWCook commented on #147
Sweet, thank you! This definitely makes it easier to manage issues across multiple projects.

Looks like it's 90% working now, but a couple automation features require additional permissions. I think you can do that by going here: https://github.com/apps/gitkraken-boards/installations/new

And selecting pyinaturalist from the 'Only Select Repositories' drop-down:
![2021-06-10 09_54_02-Installed Gi

[2021-06-11 07:38] AugustT commented on #164
Sorry haven't had a chance to check yet

[2021-06-13 02:29] JWCook opened #173 "Add functions to format model object lists as tables"
For quickly previewing data, I'd like to be able to do something like this:

[code]

For each model, that will require defining:
* Column headers
* Subset of attributes to include in table

To take this a step further, this would be most convenient if exposed as a single `pprint()` method that pretty-print model objects using the appropriate formatting method.

### Tasks
Per-model table formatting

[2021-06-14 19:10] AugustT commented on #164
@JWCook the problem seems to persist

[code]
gives `NULL`. Did this work on your tests? I tried various forms of dates but none of them worked.

[2021-06-14 19:18] JWCook commented on #164
I just tried your example, and it works if you change `observed_on_string` to `observed_on`:
[code]
I thought `observed_on_string` was working when I last tested it, so I'm not sure why it would behave differently, but I'll take another look soon.

[2021-06-14 19:20] AugustT commented on #164
Okay, let me try...

[2021-06-14 19:33] AugustT commented on #164
Yeah, this seems to work just fine. It handles dates and times well too like "YYYY/MM/DD HH:MM:SS"

[2021-06-14 19:34] AugustT commented on #164
Technically the issue of `observed_on_string` is not solved, do you want to close the issue anyway?

[2021-06-14 19:35] JWCook commented on #164
Not yet, I think I found the issue. I'll get that updated shortly and add some better unit tests for this.

[2021-06-14 19:45] JWCook commented on #164
Done! Changes are in `0.14.0dev408`. I just tested your example again with `observed_on_string`, and it works as expected now. The fix also applies to any other datetime params in other endpoints.

[2021-06-14 19:45] #164 closed

[2021-06-15 18:04] JWCook commented on #147
@niconoe
Sweet, thank you! This definitely makes it easier to manage issues across multiple projects.

Looks like it's 90% working now, but a couple automation features require additional permissions. I think you can do that by going here: https://github.com/apps/gitkraken-boards/installations/new

And selecting pyinaturalist from the 'Only Select Repositories' drop-down:
![2021-06-10 09_54_02-Ins

[2021-06-18 02:54] JWCook commented on #145
Going to call this one done, and add separate issues for remaining tasks.

[2021-06-18 02:54] #145 closed

[2021-06-19 03:29] #173 closed

[2021-06-19 16:16] abubelinha commented on #135
I have the same error message on Python 3.8, Windows 7

[code]
... and also ...
[code]

So I tried `pip install -U --pre pyinaturalist` as suggested by @JWCook above.
Apparently, installation was correct.
But the proposed import code didn't work either:

[code]

Finally, I am a bit confused about the current documentation, suggesting to do this:
`from pyinaturalist import *`

If this has still not

[2021-06-19 16:21] abubelinha commented on #32
I have a machine at work which uses Windows XP 32bit.
Latest Python version for that OS is 3.4
Would it be possible to use pip to install pyinaturalist's latest python-3.4-compatible version?
If so, what's the pip command I should use?

Thanks a lot

[2021-06-19 19:17] JWCook commented on #32
@abubelinha

pyinaturalist `0.10` was the last version that supported python 3.4. You should be able to `pip install pyinaturalist` and it will install the latest version available for your current python version. If for some reason that doesn't work (for example, if older releases are missing some package metadata), you can manually install the version you want with:
[code]

To go back in time an

[2021-06-19 19:35] JWCook commented on #32
Would it help if I added a section to the docs that lists the last supported pyinaturalist version for each python version? Or let me know if you have any other suggestions for the documentation.

[2021-06-19 19:54] abubelinha opened #176 "need help with get_access_token() parameters and inaturalist application urls"
**Is your feature request related to a problem? Please describe.**
I have succesfully installed the package.
I have tested some of the examples, like get_observations()  (which worked perfectly)

But I want to upload my observations and I couldn't make authentication work:

[code]
I don't post the rest of code because I already got an error here:
[code]

**Describe the solution you'd like**
I woul

[2021-06-19 20:29] JWCook commented on #176
I left some info about iNaturalist applications in #121, and I'm working on adding some more details to the docs.

I know the 'application' terminology is confusing. The URL and Redirect URI are required by OAuth, but won't actually be used in this case. You can just enter anything, like either this repo's URL or your own repo.

Your `username` and `password` will be the same as what you use to lo

[2021-06-19 23:36] abubelinha commented on #176
OMG !!!    I'm so sorry for not having seen your prompt reply to #121.

I probably got busy that day and focused into some other stuff .... I confess I had even forgotten about pyinaturalist existence until today.  Too many things at a time :(
So when I created this new issue I actually thought this was my first time looking at this great project (actually it was, because in #121 I didn't dare to

[2021-06-19 23:50] abubelinha commented on #121
Perfect answer. Sorry for not coming back until now.
I continue in #176

[2021-06-19 23:55] JWCook commented on #176
Great! Glad that's working now.

I recently fixed some issues related to both datetime params (#164) and file uploads (#150, #153), and those changes will be in the next stable release (0.14).

If you'd like to try out those changes now, you can install the development version:
[code]

The docs for the development version can be found here: https://pyinaturalist.readthedocs.io/en/latest/

[2021-06-20 00:06] JWCook commented on #176
Also, sorry about some of the discrepancies in the docs! I'm working on improving them in #177.

Also see https://github.com/niconoe/pyinaturalist/issues/32#issuecomment-864452182 about looking up info for older releases.

[2021-06-20 00:07] abubelinha commented on #176
Thanks a lot.
I will try all that ASAP.

A different question, but also related to get_access_token()

Would this authentication method permit to share a python script where appuser/password are entered as command line arguments? (so **1 app_id/app_secret, but multiple users/passwords**)

Possible scenario:  classroom computers where different students bring their field observations in a standard

[2021-06-20 00:12] abubelinha commented on #32
Yes, that would be useful.
But you decide it it worths the pain
(because you are really fast answering issues, thanks a lot !!).

[2021-06-20 00:37] JWCook commented on #176
Good question. I guess it depends on how much you trust your students! A clever student could probably figure out how to get the application secret if they really wanted to, depending on how you store it.

Just curious, what kind of classroom activities are you planning? Sounds fun!

[2021-06-20 10:17] abubelinha commented on #176
I was planning to somehow compile the python script (off-topic here, but I welcome any suggestions about this, specially if there is a way to make binaries for Windows as well for Linux).

Actually, is there any problem about a _hacker_ getting the app_id/app_secret, other than perhaps hitting inaturalist api usage limits?  I see the same risk if you develop a webapp which has too many concurrent

[2021-06-21 01:18] JWCook commented on #176
Sounds like a cool project!

It might be worth checking out [PyInstaller](https://pyinstaller.readthedocs.io) if you want to build platform-specific binaries.

If a single app ID was being used from several different IPs at once and repeatedly hit the rate limits, it might look suspicious. But you're right, this is probably fairly low-risk.

The staff have said they don't like _large_ group accoun

[2021-06-21 01:49] abubelinha opened #178 "questions about matching taxa for automatic uploadings"
**Not a bug. Just some questions**

Lets say I have a list of observations to upload, following the basic pyinaturalist _[create observations example](https://github.com/niconoe/pyinaturalist#create-and-update-observations)_.

These are my dataframe main columns (I don't know any iNaturalist's `taxon_id` on advance):
`taxon_name , observation_datetime , time_zone , latitude , longitude , image_loc

[2021-06-21 01:50] #176 closed

[2021-06-21 02:04] JWCook commented on #178
In older versions of python, dictionary order wasn't guaranteed, but it is with python 3.6+. Also, the response results are in a list, which always retains its order. For example:
[code]

I haven't tested this recently, but I'm fairly sure `taxon_id` isn't required, and you can use `create_observations()` with just a `taxon_name`.

By the way, [get_taxa_autocomplete()](https://pyinaturalist.readth

[2021-06-21 02:16] JWCook commented on #176
@abubelinha Oh, and for your original question, I added some more info to the docs here https://pyinaturalist.readthedocs.io/en/latest/user_guide.html#authentication

[2021-06-21 10:11] abubelinha commented on #178
Thanks for pointing that `results` was a list inside the response dictionary.
That's good because I will need to use Python 3.4 in some cases.

I don't see any `taxon_name` parameter in [`create_observation()`](https://pyinaturalist.readthedocs.io/en/stable/modules/pyinaturalist.rest_api.html#pyinaturalist.rest_api.create_observation)
Perhaps you mean using `species_guess` parameter, and fill it w

[2021-06-21 15:34] JWCook commented on #178
Exactly, that's what I meant. Sorry, should have looked at my own docs first!

I just tested that and it works fine. `species_guess` will actually populate the taxon ID if there's an exact match, so that probably saves you a step.

[2021-06-21 15:37] JWCook commented on #178
Yes, that's just for reversing the order. It's can be either 'ascending' (default) or 'descending'.

[2021-06-21 15:42] JWCook opened #179 "Support reversing the sort order with reverse=True instead of order='descending'"
Idea for slightly more intuitive usage, from #178

[2021-06-21 15:44] JWCook commented on #32
Added that info here under 'Python version compatibility': https://pyinaturalist.readthedocs.io/en/latest/user_guide.html#installation

[2021-06-21 17:17] JWCook opened #180 "Support providing a custom Session object to API request functions"
The use case for this is mainly as a short-term option for customizing session settings, caching (via `requests_cache.CachedSession), etc. until an API client class (#163) is implemented.

[2021-06-22 03:26] JWCook opened #182 "Add a response timeout to all API requests"
By default, `requests` will wait indefinitely for a response.

[2021-06-22 03:29] #182 closed

[2021-06-22 07:05] niconoe commented on #147
Hey @JWCook, that should be in order now!

[2021-06-22 09:03] abubelinha commented on #32
How could I check the installed version of pyinaturalist from my pyinat.py script at runtime, before importing it?

I want to run the script in several machines, some of them with Python 3.8 and some others with 3.4 (so pyinaturalist 0.10)

But [import syntax was different](https://github.com/niconoe/pyinaturalist/issues/135#issuecomment-841726938) in old versions so I need the script to know whic

[2021-06-22 14:15] JWCook commented on #147
Perfect, thanks!

[2021-06-22 14:15] #147 closed

[2021-06-22 15:18] JWCook commented on #131
From Scott Loarie:

Great job on this awesome project - let us know if there's anything we can do to help!

That's good enough for me! So I'm going to close this issue for now.

[2021-06-22 15:18] #131 closed

[2021-06-22 15:59] JWCook commented on #32
Some thoughts on this:
* The previous imports (like `from pyinaturalist.node_api import ...`) will still work. They will show a `DeprecationWarning` starting in 0.14, and will eventually be removed in a future release.
* Windows XP and python 3.4 are ancient history, so it's going to be very hard to support if you run into problems... But I'm sure you already know that! Is there any possibility of

[2021-06-22 16:02] JWCook commented on #49
Probably not going to make any further changes to the `rest_api` (v0) functions, and instead focus on adding the equivalent endpoints from the v1 API: #103

[2021-06-22 16:02] #49 closed

[2021-06-22 16:16] abubelinha commented on #32
Thanks a lot for the recommendations and warnings.
Looks like it is a bad idea, so I think I'll try to avoid using WinXP computers for this.

[2021-06-22 16:21] JWCook commented on #32
Great! I'd like to help support your classroom project if I can, and it will be much easier to make bugfixes, new features, etc. if you're using the latest version.

[2021-06-27 21:03] #180 closed

[2021-06-27 21:12] JWCook opened #188 "Document response fields via data model attributes"
The data models (#145) and related features (#160 #174 #162) are mostly complete, but they could use more documentation:
* Model attributes - these descriptions will then show up in the Sphinx docs
    * With Sphinx we can do 'doc comments'  (`#: comment` above or inline)
    * Adding descriptions to `attr.field` metadata might be better, though
* For each model, document all the API endpoints it

[2021-06-28 00:17] JWCook commented on #145
Have not yet added a model for conservation status. Two variations on this:
[code]

[code]

[2021-06-28 14:17] JWCook opened #189 "Add additional models for minor nested response objects"
Continuing from #145, there are a few more minor pieces of nested response info that are still just dicts and don't have their own data models.

- [x] BaseModelCollection (to get list-like behavior for TaxonCounts , LifeList, and any other future model collections)
- [x] ControlledTerm
- [x] ControlledTermValue
- [x] EstablishmentMeans
- [x] ConservationStatus
- [x] TaxonCount (for `observation_sp

[2021-06-28 15:04] JWCook commented on #163
Based on a suggestion from Ben, it would be useful to have some default request params that could be set on the client and then passed to any applicable API requests. Possible params include:
* preferred_place_id
* locale
* per_page

[2021-06-28 18:05] JWCook commented on #189
Per Ben, here's an example query that returns establishment means:
https://api.inaturalist.org/v1/taxa?q=colt%27s-foot&preferred_place_id=6853

[2021-06-28 19:07] JWCook commented on #189
For conservation status, there are two variations on this:
[code]

[code]

[2021-06-30 01:49] #189 closed

[2021-06-30 18:57] JWCook opened #192 "Document options for multiple-choice (enum) model attributes"
This kind of validation is already done for API request endpoints, but it would be good to move this to model attributes via `attrs` validators.

[2021-07-03 16:14] JWCook opened #196 "Convert most user documentation from rST to MyST"
I currently have a mix of Markdown and reStructuredText for different types of docs, using m2r2 to include Markdown content. This is mainly because Markdown has much cleaner syntax so I prefer to use it when possible.

I recently (re-?)discovered [MyST](https://myst-parser.readthedocs.io), which looks like exactly what I wanted: a parser that gives the ability to write docs in Markdown and include

[2021-07-03 17:06] JWCook commented on #188
This is mostly done, but still a work in progress

[2021-07-03 19:07] #196 closed

[2021-07-03 23:56] #188 closed

[2021-07-05 21:10] JWCook opened #201 "📗 Help improve the docs!"
Since pyinaturalist aims to make iNaturalist data access simpler and more accessible, documentation is an important part of this project. If you are looking for ways to help out, there is always room for more improvement in the docs. You can help by making changes yourself and submitting a PR, or you can just add comments to this issue describing changes you'd like to see.

### Links
* Latest stab

[2021-07-05 21:11] #192 closed

[2021-07-06 21:39] #178 closed

[2021-07-06 21:57] JWCook opened #203 "🚀 v0.14 Release"
Fyi, the next release is just about ready to go, and I'm planning to push it out sometime next week. This is a fairly large one, with a whole new set of features (mainly data models) and an overhauled website (mainly the [User Guide](https://pyinaturalist.readthedocs.io/en/stable/user_guide.html) and [API Reference](https://pyinaturalist.readthedocs.io/en/stable/reference.html) sections). See the

[2021-07-13 22:37] JWCook opened #206 "📗 Add more examples to tutorial notebooks"
Follow-up from #152. Current example notebooks are in the [/examples](https://github.com/niconoe/pyinaturalist/tree/main/examples) folder, and can be run with Binder.

Topics that would be good to cover:
- [x] Searching observations
- [x] Previewing API results
- [x] How raw observation data maps to the familiar iNaturalist.org web UI
- [x] Viewing observation photos in Jupyter
- [x] Basic observa

[2021-07-13 22:37] #152 closed

[2021-07-14 21:34] JWCook commented on #203
0.14 has been released!

FYI @niconoe @synrg @abubelinha @AugustT @sdjbrown, this includes changes we previously discussed. Give this a try when you get the chance (`pip install -U pyinaturalist`), and let me know if you run into any problems. Thanks!

[2021-07-14 21:34] #203 closed

[2021-07-16 07:57] AugustT commented on #139
+1 for adding observations to projects. For tool I'm developing I would like observations to automatically be added to projects. At the moment that has to be done manually afterwards.

[2021-07-26 16:44] JWCook opened #209 "Add configurable retry + backoff settings"
The easiest method would be to use `urllib3.util.retry.Retry` and attach it to the session with an adapter.

[2021-07-26 16:57] JWCook opened #210 "Allow overriding default rate-limiting settings"

[2021-07-26 17:21] JWCook opened #211 "Allow setting dry_run on a per-request basis"

[2021-07-26 17:24] #210 closed

[2021-07-26 17:24] #211 closed

[2021-07-26 20:31] JWCook opened #213 "Improve request log output in dry-run mode"
Right now it just spits out all the keyword args passed to `requests.request`. It would be nicer to turn that into a nicely formatted  `PreparedRequest`, for example:
[code]

Also, if it's an authenticated request, the access token should be redacted from the logs.

[2021-07-27 00:05] #213 closed

[2021-07-28 02:40] JWCook opened #216 "Consolidate tox config, pre-commit config, Sphinx Makefile, and other random bits of config"

[2021-07-28 02:41] #216 closed

[2021-07-30 20:31] JWCook opened #217 "✨ API client class"
Current docs here (preview): https://pyinaturalist.readthedocs.io/en/main/user_guide/client.html

This issue is for tracking overall progress on `iNatClient` (originally discussed in #163). This will be a higher-level interface that will be easier to configure, maintain some basic state information, and return [model objects](https://pyinaturalist.readthedocs.io/en/latest/pyinaturalist.models.html

[2021-07-30 20:31] JWCook opened #218 "Implement Observations controller: read-only methods"

[2021-07-30 20:33] JWCook opened #219 "Refactor existing request functions to accept all settings used by `iNatClient`"
This includes:
* dry_run
* limiter
* session
* user_agent

[2021-07-30 20:39] #219 closed

[2021-07-30 21:18] JWCook opened #220 "Automatically document controller methods based on lower-level request functions"

[2021-07-30 21:20] JWCook opened #221 "Implement Observation controller: create/update/delete/upload"
- [x] Wrapper method: create
- [x] Wrapper method: update
- [x] Wrapper method: delete
- [x] Wrapper method: upload
- [x] Authentication
- [ ] Test coverage
- [ ] Create records using Observation objects instead of dicts?

[2021-07-30 21:20] JWCook opened #222 "Implement Taxon controller"

[2021-07-30 21:21] JWCook opened #223 "Implement Place controller"

[2021-07-30 21:21] JWCook opened #224 "Implement Project controller"

[2021-07-30 21:42] #163 closed

[2021-07-30 21:42] #218 closed

[2021-07-30 21:44] JWCook commented on #163
Continuing this in #217

[2021-07-30 22:28] #220 closed

[2021-07-31 01:15] #139 closed

[2021-07-31 01:53] JWCook commented on #139
@AugustT
[add_project_observation()](https://pyinaturalist.readthedocs.io/en/latest/modules/pyinaturalist.v1.projects.html#pyinaturalist.v1.projects.add_project_observation) is now available in `0.15.0dev0`

[2021-07-31 02:26] JWCook opened #227 "Use UUIDs instead of integer IDs, where possible"
This is to ensure future compatibility. UUIDs are now preferred over integer IDs, and may be the only identifiers in the future (v2 API?).

[2021-07-31 04:05] JWCook opened #229 "Add create/delete observation sound endpoints from v1 API"
Undocumented endpoint; no API reference

- [ ] `POST /observation_sounds`
- [ ] `DELETE /observation_sounds/{id}`
- [ ] Doctrings + type annotations
- [ ] Usage examples
- [ ] Sample response data
- [ ] Unit tests

[2021-07-31 04:12] JWCook opened #230 "✨ Planned API endpoints"
This issue is for tracking overall progress on new API endpoints we currently plan to add. More can of course be added afterward, but these endpoints should cover the majority of iNaturalist features that most users will care about.

Once these issues and the issues listed #217 are complete, pyinaturalist will be ready for a 1.0 release.

- [x] #79
- [x] #80
- [x] #88
- [x] #90
- [x] #243
- [x] #2

[2021-07-31 20:22] #138 closed

[2021-07-31 20:22] #229 closed

[2021-07-31 20:52] JWCook opened #233 "Add auto-refreshing access tokens to iNatClient"
There should be two ways to authenticate with `iNatClient`:
* Manually pass a token generated with `get_access_token()` (same as existing request functions)
* If creds are specified in environment variables, keyring, or as `iNatClient` args, automatically get and refresh tokens as needed

Related: #148. [requests-oauthlib](https://requests-oauthlib.readthedocs.io/en/latest/index.html) may be helpf

[2021-07-31 20:57] #209 closed

[2021-07-31 20:59] JWCook opened #234 "Complete test coverage for iNatClient + controllers"
Since these features are very experimental at this point, they are likely to change quite a bit before releasing, and I'm not adding much unit test coverage so far. Once it's in a more stable state, I'll go back and add tests.

[2021-07-31 21:43] AugustT commented on #139
Sweet

[2021-07-31 22:55] JWCook opened #236 "Cache access tokens until they expire"
With #233, `iNatClient` will be able to create and refresh access tokens on demand. This works as long as the client is still in memory, which should suit most use cases.

For other use cases like a CLI application, it would be useful to have an option to persist the access token to a file. Using the [AWS CLI credentials format](https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-files.

[2021-08-01 15:10] JWCook opened #237 "Add support for iNatClient default params to pass to all requests"
It would be useful to have some default request params that could be set on the client and then passed to any applicable API requests. Useful params include:
- preferred_place_id
- locale
- per_page

[2021-08-01 17:04] #233 closed

[2021-08-01 19:46] #222 closed

[2021-08-03 01:30] JWCook opened #241 "Improve model object pretty-printing with rich"
Currently, `Observation` objects printed with `rich.pretty` are very verbose, well, pretty much exactly as verbose as the raw observation JSON:
[observation.txt](https://github.com/niconoe/pyinaturalist/files/6920406/observation.txt) (almost 2000 lines long!)

The bulk of that is all the nested objects, mainly identifications and their nested taxa. Since the main purpose of the pretty-printer is t

[2021-08-03 02:25] #241 closed

[2021-08-04 00:41] JWCook opened #243 "Add GET /observations{id}/taxon_summary endpoint from v1 API"
Reference: https://api.inaturalist.org/v1/docs/#!/Observations/get_observations_id_taxon_summary

[2021-08-04 00:53] JWCook opened #244 "Add GET /observations/popular_field_values endpoint from v1 API"
Reference: https://api.inaturalist.org/v1/docs/#!/Observations/get_observations_popular_field_values

[2021-08-06 19:18] #243 closed

[2021-08-06 23:22] #237 closed

[2021-08-06 23:52] JWCook opened #248 "Batch requests by ID that exceed the max URL length for GET requests"
Depending on the browser and server, the max URL length for GET requests is at minimum 2048 characters (up to 8000). Minus the average base URL length, that will be around 250 8-digit IDs.

[2021-08-07 01:35] #224 closed

[2021-08-07 19:22] #158 closed

[2021-09-02 00:05] #103 closed

[2021-09-02 00:23] JWCook opened #259 "Implement Identifications controller"

[2021-09-02 00:23] JWCook opened #260 "Implement ControlledTerms controller"

[2021-09-02 00:23] JWCook opened #261 "Implement Users controller"

[2021-09-02 00:23] JWCook opened #262 "Implement Posts controller"

[2021-09-02 00:39] #179 closed

[2021-09-02 14:18] JWCook opened #265 "Implement ObservationField controller"

[2021-09-03 01:56] JWCook commented on #142
Note: the PUT method just doesn't seem to work. POST, however, will both create and update a record.

[2021-09-03 22:49] #142 closed

[2021-09-03 23:49] #221 closed

[2021-09-07 16:56] #206 closed

[2021-09-07 16:57] JWCook commented on #206
I think that's enough for this release. I'll follow up with more examples for the next release.

[2021-09-08 01:59] JWCook opened #273 "Support setting cache expiration for individual requests"
requests-cache already supports this, just need to update API request functions take an `expire_after` param  and pass it along to ~~session.request()~~ EDIT: Added unreleased changes for requests-cache 0.9 that will also accept `expire_after` for `session.send()`, so I'll wait until that's released.

[2021-09-11 16:20] JWCook opened #276 "Add async-compatible Paginator for iNatClient results"

[2021-09-12 23:10] #276 closed

[2021-09-14 07:13] abubelinha commented on #153
This would be a different issue, but as you are talking about sounds you might already have done things like this.

Figure out you already have sound files uploaded to some other site like https://www.xeno-canto.org/
(you could also have them in some other website, like your own blog, or a Google Drive folder)

What if you want now to submit those observations (and files) to iNaturalist?
Do you kn

[2021-09-14 16:19] JWCook commented on #153
@abubelinha I just checked, and unfortunately the API doesn't provide a way to upload from a publicly accessible URL. It only accepts multipart POST data, so one way or another it will require using download and upload bandwidth.

You could consider making a feature request either on the [Feature Requests](https://forum.inaturalist.org/c/feature-requests/16) forum section, or on the [iNaturalistAP

[2021-09-14 22:03] #261 closed

[2021-09-16 14:20] JWCook opened #280 "Support URLs for photo & sound uploads"
Ideas from https://github.com/niconoe/pyinaturalist/issues/153#issuecomment-918875377:

- [x] Accept URLs as arguments for [pyinaturalist.upload()](https://pyinaturalist.readthedocs.io/en/stable/modules/pyinaturalist.v1.observations.html#pyinaturalist.v1.observations.upload), `create_observation()`, and `update_observation()`, the same way you can currently pass file paths
- [ ] ~~Use streaming re

[2021-09-18 09:35] abubelinha commented on #153
Thanks a lot @JWCook
In my case it's more like this:
- I am testing this in my computer and with my data, but the final idea is using this script in a university server (with limited space, and I guess also limited band usage)
- The script would read remote observations data (google sheet) and sound/image urls (mostly google drive files) and try to process them as observations into iNaturalist. Ea

[2021-09-18 17:29] JWCook opened #282 "Switch from coveralls to codecov"

[2021-09-18 17:40] #282 closed

[2021-09-19 18:29] JWCook commented on #280
@abubelinha Continuing from #153:

With [streaming requests](https://docs.python-requests.org/en/latest/user/advanced/#streaming-requests), you can control how much you want to read at a time. Also, with [`SpooledTemporaryFile`](https://docs.python.org/3/library/tempfile.html#tempfile.SpooledTemporaryFile) you can control how much to keep in memory at a time before writing to disk, and the file wi

[2021-10-10 20:20] JWCook commented on #280
I did a bit more research on this, and it may be possible with [pycurl](http://pycurl.io/docs/latest/index.html). I haven't quite gotten it working yet, though.

[2021-10-20 14:10] JWCook opened #293 "Add taxon map layers endpoint"
There is an undocumented /v1 endpoint that returns the GBIF id for the iNat taxon id: `/v1/taxa/{id}/map_layers`

e.g. https://api.inaturalist.org/v1/taxa/47588/map_layers outputs:
[code]

[2021-10-20 15:13] #293 closed, assigned to nobody

[2021-12-08 21:27] #79 closed

[2021-12-21 12:34] lubianat opened #317 "Failing to install package on Debian 10"
### The problem
Not able to install package on Debian.

System:
Linux djinn 4.19.0-17-amd64 #1 SMP Debian 4.19.194-3 (2021-07-18) x86_64 GNU/Linux

Code run:
`pip3 install pyinaturalist`

Error:

[code]

Note: cryptography is installed: `Requirement already satisfied: cryptography in /usr/lib/python3/dist-packages (2.6.1)`

### Expected behavior
Installing the package

### Environment
 - OS & vers

[2021-12-22 16:20] JWCook commented on #317
Did you follow the steps in that debug message? One of those steps is likely to fix the problem. That version of `cryptography` is almost 3 years old, and the `requests` library will require a newer version.

Also, it's best to install your packages into a virtualenv, or at least with `pip install --user`. Otherwise you may get conflicts between user packages (installed with `pip`) and system pack

[2021-12-27 20:36] lubianat commented on #317
@JWCook good suggestions! I used a virtualenv, updated pip and had no issues. Thank you so much.

[2021-12-27 20:36] #317 closed

[2022-02-12 02:36] agrosh24 opened #331 "I can't access any of the functions, am I doing something wrong?"
"import json
from pyinaturalist import *
observations = get_observations(taxon_name='Danaus plexippus')
pprint(observations)"
This is all I have written so far, and yet, I am already getting an error.
"observations = get_observations(
NameError: name 'get_observations' is not defined"
No matter how hard I try I cannot get this to work. I am sure I have it installed, and every other library I have

[2022-02-12 03:23] JWCook commented on #331
What version of the library do you have, and how did you install it? Poetry, pip, conda, or other?

First, try reinstalling in a fresh virtualenv, just to rule out a few common environment-related problems.
Then, if that's still not working, show me the output of:
[code]

[2022-02-14 02:49] agrosh24 commented on #331
['DEFAULT_USER_AGENT', 'DRY_RUN_ENABLED', 'DRY_RUN_WRITE_ONLY', '__author__', '__builtins__', '__cached__', '__doc__', '__email__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', 'constants', 'getLogger', 'get_prerelease_version', 'getenv', 'user_agent']

installed it with pip just a few days ago, on windows.

[2022-02-14 03:34] JWCook commented on #331
Okay, so that looks like none of the modules are getting imported into the top-level `pyinaturalist` package ([here](https://github.com/niconoe/pyinaturalist/blob/main/pyinaturalist/__init__.py)), which probably means a missing dependency. In that case you should be seeing a message like `No module named 'requests'` (or some other package).

Otherwise, try importing via the full module path, and y

[2022-02-14 23:37] agrosh24 commented on #331
"ModuleNotFoundError: No module named 'pyinaturalist.v1'"

What does this mean?

[2022-02-15 20:58] JWCook commented on #331
Well, I was hoping that would give a more useful error message. It still just means there's a dependency missing. There's almost certainly another error before that, which you're either missing or is being hidden by something else in your environment.

I made some logging changes, which will hopefully give us the right error this time. Create a new virtualenv, install the latest pre-release build,

[2022-02-16 02:46] agrosh24 commented on #331
I installed it and tried running a short program. No errors were passed... but the output looked like this:
" [1;37m [0m[1;37mID       [0m[1;37m [0m [1;37m [0m[1;37mTaxon ID[0m[1;37m [0m [1;37m [0m[1;37mTaxon      [0m[1;37m [0m [1;37m [" (this is only a small snippet of it but it basically just does this for the whole time)
Is this... supposed to happen?

[2022-02-16 03:46] JWCook commented on #331
Those look like terminal control characters. It's trying to print color but your terminal doesn't support it (probably `cmd.exe`?). So you can either use just plain `print()` instead of `pyinaturalist.pprint()`, or use a terminal with better color support. On Windows, using Powershell under Windows Terminal should work.

[2022-02-22 04:46] JWCook opened #332 "Support attaching previously uploaded photos to an observation by photo ID"
This is useful for associating a single photo with multiple observations.

See this thread for details: https://forum.inaturalist.org/t/is-it-possible-to-use-the-api-to-attach-an-existing-photo-record-to-an-observation

[2022-02-22 23:34] JWCook opened #334 "Drop support for python 3.6"
Python 3.6 reached EOL last year, and I'd like to drop support for it in the next release. Let me know if this will cause issue for anyone.

[2022-02-22 23:34] #332 closed

[2022-02-22 23:42] JWCook commented on #280
@abubelinha Sorry, but I think the streaming download/upload idea is beyond my ability after all. I made several attempts, but just couldn't get `pycurl` or any other HTTP clients to do this properly. It's also possible this is a limitation on iNaturalist's end and it just doesn't support streaming uploads.

[2022-02-22 23:42] #280 closed

[2022-02-22 23:43] JWCook commented on #331
I'm going to go ahead and close this issue now, but feel free to open another one if you run into more problems.

[2022-02-22 23:43] #331 closed

[2022-02-23 09:00] abubelinha commented on #280
Nevermind. It's an amazing work what you have done.
Just for the comments you provided, and suggestions to use memory-profiler (that I didn't know before).
Thanks a lot for trying it @JWCook

[2022-02-23 13:04] JWCook commented on #280
I'm happy to help, or at least try! Let me know if you have any other problems or feature suggestions.

[2022-02-23 14:50] #334 closed

[2022-03-04 16:14] JWCook opened #342 "Add support for JWTs"
JWTs are now the preferred token to use for authentication. Update `get_access_token()` to fetch one be default, with an option to return an OAuth token instead (previous behavior).

[2022-03-04 16:15] JWCook opened #343 "Add undocumented PUT /projects/{id} endpoint from v1 API"
See this thread for details: https://forum.inaturalist.org/t/edit-project-breaks-entirely-for-project-with-undefined-user

[2022-03-04 17:09] #342 closed

[2022-03-05 21:25] JWCook opened #348 "Support setting read timeout for individual requests"
There are some endpoints that are usually slow, and it would make sense to set a longer default timeout for these. I'd also like to allow that to be overridden by a user if needed.

Note: `requests.Session.send()` supports setting [separate values for connect and read timeouts](https://docs.python-requests.org/en/master/user/advanced/#timeouts). This argument would be used as the read timeout.

[2022-03-10 02:38] #273 closed

[2022-03-10 02:38] #343 closed

[2022-03-10 02:38] #348 closed

[2022-03-10 17:29] JWCook commented on #236
Since we're now using requests-cache (#250), it may make the most sense to store these tokens in the cache. Since these are temporary tokens I don't think these require the same level of security as iNat credentials. If needed, the cache can either be disabled or secured by the user. See: https://requests-cache.readthedocs.io/en/stable/user_guide/security.html

Also, since we're supporting JWTs (#

[2022-03-17 03:14] #236 closed

[2022-03-17 03:16] JWCook opened #352 "Add project update methods to ProjectController"

[2022-03-17 03:17] JWCook commented on #148
Shelving this idea for now, as I don't think it's needed. Willing to add if there's a use case for it, though.

[2022-03-17 03:17] #148 closed

[2022-03-26 17:40] JWCook opened #354 "Use persistent rate-limiting backend"
Currently working on finishing up a SQLite backend for [PyrateLimiter](https://github.com/vutran1710/PyrateLimiter) (used via [requests-ratelimiter](https://github.com/JWCook/requests-ratelimiter)). This will allow tracking rate limits across multiple threads, processes, and application restarts.

[2022-03-28 22:21] JWCook opened #355 "Simplify delete_project_users()"
It may be possible to do this with a single `PUT` request, without the need for an initial `GET` request.

[2022-03-30 02:39] #355 closed

[2022-04-06 21:55] #354 closed

[2022-04-23 17:37] #352 closed

[2022-04-24 00:10] #223 closed

[2022-04-27 01:48] jwidness opened #367 "Feature request: Add 'private_location' to Observation model"
### Feature description
The Observation model currently doesn't include `private_location`, I would like to see it added.

### Use case
The [pyinaturalist Authentication documentation](https://pyinaturalist.readthedocs.io/en/stable/user_guide.html#authentication) says "Read-only requests generally don’t require authentication; however, if you want to access private data visible only to your user (

[2022-04-27 02:46] JWCook commented on #367
Sure, I can get that added.

[2022-04-27 16:29] #367 closed

[2022-04-27 16:30] JWCook commented on #367
Changes are in pyinaturalist `0.17.0.dev3`.

[2022-04-27 19:55] jwidness commented on #367
Thanks, I see the private fields now.  But in switching from 0.16.0 to 0.17.0.dev3, some of the other fields show up as strings when they previously didn't, e.g. taxon:

![image](https://user-images.githubusercontent.com/13769652/165619349-c9ef2516-566c-4de1-a1d8-7884e5e3b6be.png)

Is that intentional?

[2022-04-27 20:26] JWCook commented on #367
Partially. The short answer is that I had to switch to a [different method of formatting](https://rich.readthedocs.io/en/stable/pretty.html#rich-repr-protocol), and nested model objects are no longer syntax-highlighted, at least for now. That only affects terminal output, though. `Observation.taxon` is still a [Taxon](https://pyinaturalist.readthedocs.io/en/stable/modules/pyinaturalist.models.Taxo

[2022-04-27 20:31] JWCook commented on #367
P.S., if the Tiger Shark observation is yours, I'm envious! 🦈

[2022-05-03 19:00] #244 closed

[2022-05-08 17:56] JWCook opened #373 "Add UserController convenience method to get a batch of users by ID in fewer API calls"
This is useful because `/users/{id}` only supports a single ID at a time. This can be improved somewhat by using:
* `/observations/observers` (for users with > 0 observations)
* `/observations/identifiers` (for remaining users with > 0 identifications)
* `/users/{id}` (for remaining users with 0 observations and 0 identifications)

[2022-05-08 19:15] JWCook opened #374 "Add ClientSession `urls_expire_after` option to update (instead of replace) default URL patterns for caching"
https://requests-cache.readthedocs.io/en/stable/user_guide/filtering.html#cached-urls

[2022-05-12 16:15] JWCook opened #378 "Transfer to an organization?"
Hey @niconoe, I have a number of iNat-related repos that I'm planning to transfer to an organization:
* https://github.com/JWCook/pyinaturalist-convert
* https://github.com/JWCook/pyinaturalist-notebook
* https://github.com/JWCook/pyinaturalist-feedstock
* https://github.com/JWCook/pyinaturalist-convert-feedstock
* https://github.com/JWCook/naturtag

Would you be interested in transferring this re

[2022-05-12 20:26] JWCook opened #379 "Add 'pyinat' namespace alias"
This will allow abbreviated imports from both pyinaturalist and pyinaturalist-convert (if installed, and potentially other future sub-packages).

For example, this:
[code]

Can be abbreviated as:
[code]

This won't use a PEP-420 implicit namespace, to avoid needing to define aliases for all subpackages and modules. This should just require a new `pyinat/__init__.py` file and some updates to packag

[2022-05-12 20:28] #379 closed

[2022-05-13 10:33] niconoe commented on #378
Hi @JWCook,

That sounds very good, nice that you've been able to develop on a broader Python-iNaturalist ecosystem. Indeed, if you create such an organization, I'd be happy to transfer the repo there.

As usual sorry for my absence, I'm following your excellent work from a distance and hope to contribute again some day!

[2022-05-13 14:36] JWCook commented on #378
Thanks for the quick response. I just created a new organization at https://github.com/pyinat, and sent you an invite.

[2022-05-15 16:36] JWCook opened #381 "Support searching observations by observation fields"
There's an undocumented `field:{field_name}` param for observations searches, for example: https://www.inaturalist.org/observations?field:Species%20count=2

This can be applied to the following endpoints:
- [x] `/observations`
- [x] `/observations/histogram`
- [x] `/observations/identifiers`
- [x] `/observations/observers`
- [x] `/observations/popular_field_values`
- [x] `/observations/species_cou

[2022-05-17 00:27] JWCook commented on #378
@niconoe Thanks, and no problem! I created a new organization at https://github.com/pyinat, and sent you an invite.

[2022-05-19 00:38] JWCook opened #382 "Fix ID-based pagination bug in Paginator.all()"

[2022-05-20 23:30] #382 closed

[2022-05-21 00:50] JWCook opened #385 "Add models for some more minor Observation attributes"
Remaining attributes that are still dicts:

- [x] application
- [x] flags
- [x] quality_metrics
- [x] sounds
- [x] votes
  - [x] faves (same schema as votes)

`application` schema:
[code]

`flags` schema:
[code]

`quality_metrics` schema:
[code]

`votes`/`faves` schema:
[code]

[2022-05-26 18:31] JWCook commented on #378
@niconoe Would you have time to do this sometime within the next week? I'd like to get another patch release out soon, and if possible, include updated repo links in the docs. Thanks!

[2022-05-31 08:44] synrg opened #391 "ListedTaxon has empty list fields when created from Taxon.listed_taxa member"
### The problem
When I create a Taxon and try to use a specific Taxon.listed_taxa member, the list.title and list.id are not set.

### Expected behavior
I expected the list.title and list.id attributes to be set to the corresponding fields that are present in the raw JSON `/v1/taxa/{id}` response.

### Steps to reproduce the behavior
[code]

results in:
[code]

### Workarounds
Use the raw JSON lis

[2022-05-31 14:58] JWCook commented on #391
Thanks for the bug report, I'll get that fixed!

[2022-05-31 16:53] #391 closed

[2022-06-12 03:25] JWCook commented on #378
@niconoe Sorry to bug you again, but would you have time to get to this soon?

[2022-06-20 13:41] niconoe commented on #378
Hey @jwcook, I just made the transfer. Tell me I missed anything!

[2022-06-20 14:00] JWCook commented on #378
Great, thank you!

[2022-06-20 14:01] #378 closed

[2022-06-20 15:44] JWCook opened #402 "Pretty-print format for observation histogram"
Currently the histogram is just a dict, like:
[code]

It would be nice if `pprint()` handled this by printing out a formatted table like:
[code]

[2022-06-25 07:03] oolonek opened #403 "Feature request: Possibility to fetch observations with obscured coordinates"
### Feature description

In some case observation can have obscured coordinates (for ex. when the species is endangered). It would be nice to still be able to fetch all remaining information except the precise geolocation, without authenticating.

### Use case

I need to fetch all observation from a project but I can't because some have their geolocation obscured by iNaturalist. Only "The person w

[2022-06-25 18:19] JWCook commented on #403
This is an interesting one. Most API searches will return observations with obscured coordinates, unless you exclude them by passing `geoprivacy='open'`. But in this case, you will probably need to be authenticated to access these. I think the issue here is specific to searching by project when the project is limited by location:
1. The [project requirements](https://www.inaturalist.org/projects/d

[2022-06-25 18:44] JWCook commented on #403
By the way, you can manually test an authenticated API request by getting a token here: https://www.inaturalist.org/users/api_token

And passing it via `access_token`:
[code]

[2022-06-27 13:46] nleguillarme opened #404 "JSONDecodeError with paginated requests"
Hi

### The problem
I am trying to run a get_observations request with page=all and per_page = 200. According to pyinaturalist

However, at some point, the request fails with the following error

  File "/home/airflow/.local/lib/python3.8/site-packages/airflow/models/taskinstance.py", line 1164, in _run_raw_task
    self._prepare_and_execute_task_with_callbacks(context, task)
  File "/home/airflow

[2022-06-27 17:47] JWCook commented on #404
This appears to be a server-side problem. Somewhat at random, some responses to your request can return invalid JSON (but with a 200 status). After one or more retries, the same request returns valid JSON.

Here's an example request that returned invalid JSON for me at least once:
[code]

The full response is about 13MB: [good_response.tar.gz](https://github.com/pyinat/pyinaturalist/files/8994334/

[2022-06-27 18:05] JWCook opened #405 "Add optional support for ultrajson"
For especially large observation responses, the time to decode JSON can start to become noticeable (>1 second). It may be useful to add [ultrajson](https://github.com/ultrajson/ultrajson) as an optional dependency, and use that instead of stdlib `json` if installed.

[2022-06-28 08:54] nleguillarme commented on #404
Thank you @JWCook ! I was also suspecting a server-side problem, as the same piece of code was working a few weeks ago. I just wanted to rule out the possibility that the upgrade to pyinaturalist 0.17.2 could have caused this problem.

I just tried again this morning and everything works just fine.

Still,
- I will add some retry logic to the code to make it more robust to invalid JSON
- Response

[2022-06-28 16:14] JWCook commented on #404
Maybe it was just a temporary issue, then?

I just made some changes in 0.17.3 to check for invalid JSON and apply session retry settings. If needed, you can change those settings like this:

[code]

The same settings will also apply to other request errors (500 responses, etc.). See [urllib3.Retry](https://urllib3.readthedocs.io/en/stable/reference/urllib3.util.html#urllib3.util.Retry) for more d

[2022-06-28 16:14] #404 closed

[2022-07-06 17:12] JWCook commented on #403
@oolonek Did that answer your question?

[2022-07-07 05:17] oolonek commented on #403
Hi @JWCook ! Thanks for the detailed explanations. This all makes sense. However I just tested now with the authenticated API token and still get 183 entries (instead of the expected 192).

[2022-07-07 05:22] oolonek commented on #403
By the way, the API request url (https://api.inaturalist.org/v1/observations?project_id=130644) also returns 183 entries only.
See first lines below :

[code]

[2022-07-07 05:27] oolonek commented on #403
Ohhh ! My bad it is working through the get_observations() with the authenticated API token
I was actually passing the token under `api_token=` instead of `access_token=` !
Strangely enough, no error message returned when using `api_token=`

Thanks @JWCook all set up on my side !

[2022-07-07 05:27] #403 closed

[2022-07-30 12:56] abubelinha commented on #403
@JWCook could you tell me why this is not working as I expected?

[code]
output:
[code]

Thanks a lot in advance

[2022-07-30 16:31] abubelinha commented on #403
BTW, I think both [`get_observation()`](https://pyinaturalist.readthedocs.io/en/stable/modules/pyinaturalist.v1.observations.html#pyinaturalist.v1.observations.get_observation) and [`get_observations()`](https://pyinaturalist.readthedocs.io/en/stable/modules/pyinaturalist.v1.observations.html#pyinaturalist.v1.observations.get_observations) documentation is not up to date (`access_token` parameter

[2022-07-30 17:20] JWCook commented on #403
@abubelinha You're right, thanks for pointing that out. I'll get that updated.

[2022-07-30 20:43] abubelinha commented on #403
Thanks @JWCook
One question.  Do you know why my token length changed from 43 to 192 after upgrading pyinaturalist in my code above?

That might help to explain why I am failing to get a valid token using the python code in [this gist](https://gist.github.com/abubelinha/053bc3c649fd0f8e0e165ef1784c4fed).
It's adapted from a 7 years old code, but I am trying to use it in an old machine with Python

[2022-07-30 21:36] JWCook commented on #403
It's a different token format. In 0.17 I switched the default format to JWT, which according to iNat is now the preferred method: https://www.inaturalist.org/pages/api+recommended+practices

As far as I know, OAuth tokens (the 43-character ones) should still be working with the V1 API, so I'm not sure what's wrong in your example. If you want to try out JWT, just add another request to your exampl

[2022-07-31 07:10] abubelinha commented on #403
Thank you very much for this advice 😃 👍 👍 👍 !!
So one still needs the old OAuth token in order to get the new JWT token.

BTW I can confirm that setting pyinaturalist [`get_access_token(jwt=False)`](https://pyinaturalist.readthedocs.io/en/latest/modules/pyinaturalist.auth.html#pyinaturalist.auth.get_access_token), further api requests do also fail to provide private information fields like `privat

[2022-08-02 20:48] #405 closed

[2022-08-02 21:28] JWCook opened #414 "Fix JWT caching"
It looks like currently, JWTs aren't getting cached as expected, and a new one is fetched for every request. Probably has something to do with usage of the `only_if_cached` option plus the response headers that cause the cached response to be revalidated.

[2022-08-24 21:04] #374 closed

[2022-08-25 00:17] #414 closed

[2022-08-25 19:56] JWCook opened #416 "Add option to get_taxa_by_id() to get current taxon in the event of a taxonomy change"
This would be the case where `is_active=False` and `current_synonymous_taxon_ids` contains exactly one result. In other words, a simple 1:1 change where the requested taxon has been replaced with a different one.

[2022-08-31 03:49] JWCook opened #418 "Add iNatClient method to populate full term/value info for Annotation objects"

[2022-08-31 04:29] #260 closed

[2022-08-31 04:29] #418 closed

[2022-08-31 22:35] #227 closed

[2022-10-15 16:53] JWCook opened #423 "Support passing an async event loop to run executor for async pagination"

[2022-10-21 18:23] JWCook opened #425 "Support Paginator async filtering?"
Example from discussion on discord:
[code]

[2022-10-21 18:23] JWCook commented on #425
This example would still work, but the only part I don't like about it is that you have to know about some internal attributes (paginator.kwargs['page']) which might change at some point. I could probably make that easier to do. Maybe a separate Paginator.filter() method or something?

[2022-10-21 18:25] JWCook opened #426 "Document example of rendering rich output to markdown instead of stdout"
From Ben:

that's why above i just opted to use full_name instead.
in particular, I would miss seeing _Genus epithet_ instead of Genus epithet

Jordan:

[2022-10-21 22:42] #423 closed

[2022-10-23 00:05] #425 closed

[2022-11-13 23:58] nigelcharman opened #428 "How do I read observation fields?"
When trying to access observation fields with pyinaturalist 0.17.4 and Python 3.9.13, I'm getting the error:

[code]

The error comes whenever I try to access observation.ofvs, eg line 3 below:
[code]

It must be something I'm doing wrong. Are there any examples of how to read observation fields?

[2022-11-14 00:23] JWCook commented on #428
Not your fault, just an unhandled edge case. Each observation field has a defined type, and pyinaturalist will convert wach observation field value from a string to that type.

I'm guessing what's happening here is an observation field is defined as an integer, but contains a string that can't be directly converted to an int. If that's the case, I just need to make some changes to handle that.

Ca

[2022-11-14 00:35] nigelcharman commented on #428
Thanks @JWCook, the observation ID is 141501253

[2022-11-14 01:16] JWCook commented on #428
Got it. It looks like converting `date` fields isn't working correctly, and for this observation it errors on `Date controlled: 2022-11-09`. I think when I wrote that, I didn't have any example API responses with an observation field of that type, and wasn't sure of the format.

I'll get that fixed soon.

[2022-11-14 01:42] nigelcharman commented on #428
Oh gosh, I'm my experience the date and datetime fields aren't strictly typed and differ dependent on what the client writes to them.

I've had to handle multiple formats for dates here - https://github.com/nigelcharman/omb-inaturalist-counts/blob/main/MonthlyStats.groovy#L51

14/11/2022 2:17:06 pm Jordan Cook ***@***.***>:

[2022-11-14 01:51] JWCook commented on #428
I've updated this to use [dateutil](https://dateutil.readthedocs.io) for parsing, which handles most known date and datetime formats. I think that will be sufficient.

You can test this out with the latest pre-release build:
[code]

[2022-11-18 22:37] JWCook opened #432 "Complete documentation for iNatClient, controller methods, and models"

[2022-11-21 02:25] nigelcharman opened #433 "Labels not returned for Plant Phenology annotation"
### The problem
I'm hoping to get the labels for annotations, but am only seeing the IDs

### Expected behavior
I can see the labels `Plant Phenology` and `No Evidence of Flowering` rather than just `12` and `21`

### Steps to reproduce the behavior
[code]

is returning:
`Term: 12, Value: 21`

I've checked that these ids map to the labels `Plant Phenology` and `No Evidence of Flowering` at https:/

[2022-11-21 02:49] JWCook commented on #433
Interesting, it looks like the response format has changed within the last year or so. Previously, `GET /observations/{id}` would return only attribute and value IDs for annotations, like in this sample response:
https://github.com/pyinat/pyinaturalist/blob/7e3f345c5359b1cd52df8e715e38a902cda77ea0/test/sample_data/get_observation_with_ofvs.json#L7-L16

But I just checked that same observation, and

[2022-11-27 18:25] JWCook commented on #433
This is mostly done, but a few more changes are needed. I noticed that these annotation details are available from `GET /observations/{id}`, but not `GET /observations?id={id}`.

[2022-11-27 19:15] JWCook opened #435 "Add get_observations_by_id() to wrap GET /observations/{id}"
* `get_observation()` currently wraps `GET /observations?id={id}`
* Only supports a single ID at a time
* Does not return full annotation details
* Instead of modifying this function, this should be deprecated in favor of a new `get_observations_by_id()` function

[2022-11-27 20:52] #435 closed

[2022-11-27 21:00] JWCook commented on #433
@nigelcharman I ended up adding a separate function for this, `get_observations_by_id()`, instead of making breaking changes to `get_observation()` (See #435).

Changes for this are available in the latest pre-release. Usage example:
[code]

I added some less verbose properties to get labels only:
[code]

To see full controlled term details:
[code]

[2022-11-27 21:02] JWCook commented on #433
By the way, if you mainly want to work with model objects instead of JSON, you may want to give the API client class a try (#217). It's not fully documented yet, but will be soon.

Here's an example of getting an observation by ID:
[code]

Or multiple observations by ID:
[code]

Or by other search criteria:
[code]

[2022-11-27 21:14] nigelcharman commented on #433
Thanks for the changes @JWCook!

I do normally want to search for observations (by taxon and place) rather than getting them by id. With the `get_observations_by_id()` approach, I think I would need to first do the search and then assemble a list of ids to pass to `get_observations_by_id()`. Let me know if there is a search based equivalent to `get_observations_by_id()`?

I'm not tied to JSON, so

[2022-11-27 21:39] JWCook commented on #433
Not yet, but that would be doable. I could add an option to use the main observation search endpoint, and make a separate request to fill in the missing annotation details using the [controlled terms](https://api.inaturalist.org/v1/docs/#!/Controlled_Terms/get_controlled_terms) endpoint.

Generally I'd like the basic API functions (like `get_observations()`) to behave similarly to the iNaturalist

[2022-11-27 21:39] #433 closed

[2022-11-27 21:41] JWCook opened #437 "Add missing annotation details to observation results"
Continuing from [#433](https://github.com/pyinat/pyinaturalist/issues/433#issuecomment-1328345900).

Usage would look something like:
[code]

The controlled terms endpoint returns all annotation terms and values, so that would only need to be called once and cached with a reasonably long expiration (currently 7 days).

[2022-11-27 22:32] JWCook commented on #437
It turns out that with caching, there is almost no difference in performance with vs. without the annotation lookup. It's about 150 microseconds per observation, or 1.5 seconds for 10,000 observations.

In that case, I think I will make this the default behavior for `iNatClient.observations.search()` instead of adding a separate keyword argument for this.

[2022-11-30 03:05] #437 closed

[2022-11-30 03:28] JWCook commented on #437
@nigelcharman Done! Results from [iNatClient.observations.search()](https://pyinaturalist.readthedocs.io/en/stable/modules/pyinaturalist.controllers.ObservationController.html#pyinaturalist.controllers.ObservationController.search) now contain full annotation details.

Example:
[code]